<section>
  <div class="page-header">
    <h1>{{vm.eventregistration._id ? 'Edit Eventregistration' : 'Nueva Inscripción'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.eventregistrationForm" class="form-horizontal" ng-submit="vm.save(vm.form.eventregistrationForm.$valid)" novalidate>
      <fieldset>            
        <div class="form-group" show-errors>
          <label class="control-label" for="eventName">Nombre del Evento</label>
          <input name="eventName" type="text" ng-model="vm.eventregistration.eventName" id="eventName" class="form-control" placeholder="Nombre del evento" required>
          <div ng-messages="vm.form.eventregistrationForm.eventName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Nombre del Evento es un campo requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="eventGroup">Grupo de Encuentro</label>
          <input name="eventGroup" type="text" ng-model="vm.eventregistration.eventGroup" id="eventGroup" class="form-control" placeholder="Grupo de encuentro" required>
          <div ng-messages="vm.form.eventregistrationForm.eventGroup.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Grupo de encuentro es un campo requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="registrationDate">Fecha de inscripción</label>
          <input name="registrationDate" type="text" ng-model="vm.eventregistration.registrationDate" id="registrationDate" class="form-control" placeholder="Fecha de inscripción" required>
          <div ng-messages="vm.form.eventregistrationForm.registrationDate.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Fecha de inscripción es un campo requerido.</p>
          </div>
        </div>
         <div class="form-group" show-errors>
          <label class="control-label" for="balanceAmount">Saldo</label>
          <input name="balanceAmount" type="text" ng-model="vm.eventregistration.balanceAmount" id="balanceAmount" class="form-control" placeholder="Saldo adeudado" required ng-disabled="true" >
          <div ng-messages="vm.form.eventregistrationForm.balanceAmount.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Saldo es un campo requerido.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.eventregistration._id ? 'Actualizar' : 'Crear'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
