<div ng-if="vm.error">
  <br />
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <strong class="text-danger">Error:</strong>
    <span>{{vm.error}}</span>
  </div>
</div>
<section>
  <div class="page-header">
    <h1>{{vm.eventregistration._id ? 'Editar' : 'Nueva Inscripción'}} <span ng-if="!vm.isNewMemberRegistration()"> - Miembro Existente</span></h1>

    <h2 ng-if="vm.eventregistration._id"># de Inscripción: {{vm.eventregistration.registrationNumber}}</h2>
      <small ng-if="vm.eventregistration._id">
        <em class="text-muted">
          Creado en
          <span data-ng-bind="vm.eventregistration.created | date:'mediumDate'"></span>
          Por
          <span data-ng-if="vm.eventregistration.user"
                data-ng-bind="vm.eventregistration.user.displayName"></span>
          <span data-ng-if="!vm.eventregistration.user">Deleted User</span>
        </em>
      </small>
  </div>  
  <div class="pull-left">
     <a class="btn btn-secondary"
       data-ui-sref="eventregistrations.list()">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Regresar
    </a>
  </div>
  <br /><br />
  <div class="col-md-12">
    <form name="vm.form.eventregistrationForm" class="form-horizontal" ng-submit="vm.save(vm.form.eventregistrationForm.$valid)" novalidate>
      <fieldset>    
        <div class="form-group" show-errors>        
          <label class="control-label" for="event">Evento *</label>  
          <input name="event" type="hidden" ng-model="vm.eventregistration.event" id="event" class="form-control" required>
          <div class="input-group select2-bootstrap-append">
            <ui-select ng-model="vm.eventregistration.event"  on-select="vm.setEvent(vm.eventregistration.event)" ng-disabled="vm.isSelectionDisabled()">
              <ui-select-match  placeholder="Seleccione el evento...">
                    <span>{{$select.selected.name}}</span>
                </ui-select-match>
                <ui-select-choices repeat="item in (vm.events | filter: $select.search) track by item._id">
                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select> 
            <span class="input-group-btn">
              <button type="button" ng-click="vm.clearEventSelection()" ng-disabled="vm.isSelectionDisabled()" class="btn btn-default">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </span>  
          </div> 
          <div ng-messages="vm.form.eventregistrationForm.event.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Evento es requerido.</p>
          </div>
        </div>         
        <div class="form-group" ng-if="(vm.eventregistration.event && !vm.eventregistration._id) || (vm.eventregistration.isEventServer && vm.eventregistration._id)" show-errors>  
          <input name="isEventServer" type="hidden" ng-model="vm.eventregistration.isEventServer" id="isEventServer" class="form-control" ng-disabled="vm.eventregistration._id">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="vm.eventregistration.isEventServer" ng-click="vm.setEventPrice(vm.eventregistration.event)" ng-disabled="vm.eventregistration._id">
              <b>Servidor del evento (aplicar precio de servidor)</b>
            </label>
          </div>
        </div> 
        <div class="form-group" ng-if="vm.eventregistration.event && vm.eventregistration.event.shirtPrice" show-errors>
          <label class="control-label" for="shirtSize">Talla de camiseta *</label>
          <input name="shirtSize" type="hidden" ng-model="vm.person.shirtSize" id="shirtSize" class="form-control" placeholder="Talla de camiseta" required>
          <div class="dropdown" id="shirtSizeDropdown" uib-dropdown>
            <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle role="button">
              <span ng-if="!vm.person.shirtSize">-- Seleccione uno --</span>
              {{vm.person.shirtSize}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="shirtSize in vm.shirtSizes">
                <a ng-click="vm.setShirtSize(shirtSize)">{{shirtSize}}</a>
              </li>
            </ul>
          </div> 
          <div ng-messages="vm.form.eventregistrationForm.shirtSize.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Talla de camiseta es requerido.</p>
          </div>
        </div> 
        <div class="form-group" ng-if="vm.eventregistration.event && vm.eventregistration.event.shirtPrice" show-errors>
          <label class="control-label" for="shirtsQuantity">
            Cantidad de camisas requeridas <span ng-if="vm.eventregistration.isEventServer">({{vm.eventregistration.event.shirtPrice | currency:'₡'}} c/u)</span>*
          </label>
          <input name="shirtsQuantity" type="hidden" ng-model="vm.eventregistration.shirtsQuantity" id="shirtsQuantity" class="form-control" placeholder="Cantidad de camisas" required>
          <div class="dropdown" id="shirtsQuantityDropdown" uib-dropdown>
            <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle role="button" ng-disabled="vm.isSelectionDisabled()">
              <span ng-if="vm.eventregistration.shirtsQuantity === undefined">-- Seleccione uno --</span>
              {{vm.eventregistration.shirtsQuantity}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">    
              <li ng-repeat="shirtQuantity in vm.shirtQuantities">
                <a ng-click="vm.setShirtsQuantity(shirtQuantity)">{{shirtQuantity}}</a>
              </li>
            </ul>
          </div> 
          <div ng-messages="vm.form.eventregistrationForm.shirtSize.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Cantidad de camisas es requerido.</p>
          </div>
        </div>                  
        <div class="form-group" ng-if="vm.eventregistration.event && vm.eventregistration.event.shirtPrice && vm.eventregistration.shirtTypes.length  > 0" ng-repeat="shirtType in vm.eventregistration.shirtTypes track by $index">
          <div class="col-md-1">
            <label>{{shirtType.shirtTypeName}}</label> ->
          </div>
          <div class="col-md-1">
            <input name="shirtTypeColor_{{$index}}" style="background-color: {{shirtType.shirtTypeColor}};color: {{shirtType.shirtTypeColor}};" class="col-xs-1 img-rounded" ng-disabled="true"/>
          </div>
          <div class="col-md-1">
            <label class="control-label" for="shirtType_quantity_{{$index}}">Cantidad:</label>
          </div>
          <div class="col-md-9">
            <div class="form-group" show-errors>
              <div class="col-md-2">
                <input name="shirtType_quantity_{{$index}}" ng-model="shirtType.quantity" ng-max="vm.getShirtTypesQuantityMax(vm.form.eventregistrationForm.shirtType_quantity_{{$index}})" type="number" min="0" step="1" id="shirtType_quantity_{{$index}}" autocomplete="off" class="form-control" placeholder="Cantidad de camisas">   
              </div>
              <div class="col-md-7">
                <div ng-messages="vm.form.eventregistrationForm.shirtType_quantity_0.$error" role="alert">
                  <p class="help-block error-text" ng-message="minQuantity">
                    Debe indicar la cantidad de camisas de cada tipo
                  </p>
                  <p class="help-block error-text" ng-message="maxQuantity">
                    Cantidad de tipo de camisas no puede exeder la cantidad solicitada
                  </p>
                </div>
              </div>           
              
            </div>
          </div>          
        </div>     
        <div class="form-group" show-errors>
          <label class="control-label" for="balanceAmount">Saldo *</label>
          <input name="balanceAmount" type="text" ng-model="vm.eventregistration.balanceAmount" id="balanceAmount" autocomplete="off" class="form-control" placeholder="Saldo adeudado" required ng-disabled="true" >
          <div ng-messages="vm.form.eventregistrationForm.balanceAmount.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Saldo es un campo requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>        
          <label class="control-label" for="eventPeopleGroup">Grupo *</label>  
          <input name="eventPeopleGroup" type="hidden" ng-model="vm.eventregistration.eventPeopleGroup" id="eventPeopleGroup" class="form-control" required>
          <div class="input-group select2-bootstrap-append">
            <ui-select ng-model="vm.eventregistration.eventPeopleGroup" >
              <ui-select-match  placeholder="Seleccione el grupo...">
                    <span>{{$select.selected.name}}</span>
                </ui-select-match>
                <ui-select-choices repeat="item in (vm.eventPeopleGroups | filter: $select.search) track by item._id">
                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select> 
            <span class="input-group-btn">
              <button type="button" ng-click="vm.eventregistration.eventPeopleGroup = undefined" class="btn btn-default">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </span>  
          </div> 
          <div ng-messages="vm.form.eventregistrationForm.eventPeopleGroup.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Grupo es requerido.</p>
          </div>
        </div>      
        <div class="form-group" show-errors>
          <label class="control-label" for="registrationDate">Fecha de inscripción *</label>
          <br />
          <input name="registrationDate" type="hidden" ng-model="vm.eventregistration.registrationDate" id="registrationDate" class="form-control" required>
          <input name="registrationDate" ng-if="vm.editMode" type="text" value="{{vm.eventregistration.registrationDate | date:'dd-MMM-yyyy'}}" id="registrationDate" class="form-control" ng-disabled="true" required>
          <datetimepicker ng-if="!vm.editMode"
            ng-model="vm.eventregistration.registrationDate" 
            hidden-time="true" 
            date-format="dd-MMM-yyyy" 
            current-text="Hoy"
            clear-text="Limpiar"
            close-text="Cerrar" />           
          <div ng-messages="vm.form.eventForm.registrationDate.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Fecha de inscripción es requerido.</p>
          </div>
        </div>
        <div ng-if="vm.isNewMemberRegistration()">
          <person-form person="vm.person" form="vm.form.eventregistrationForm" error="vm.error"></person-form>
        </div>
        <div ng-if="!vm.isNewMemberRegistration()" class="form-group" show-errors>        
          <label class="control-label" for="person">Persona *</label>
          <input name="person" type="hidden" ng-model="vm.person" id="person" class="form-control" required>
          <div class="input-group">
            <ui-select ng-model="vm.person" ng-disabled="vm.eventregistration._id || !vm.eventregistration.event">
              <ui-select-match  placeholder="Seleccione la persona...">
                    <span>{{$select.selected.firstName}} {{$select.selected.lastName}} {{$select.selected.secondLastName}}</span>
                </ui-select-match>
                <ui-select-choices repeat="item in (vm.people | filter: $select.search) track by item._id">
                    <div ng-bind-html="[item.firstName +' '+ item.lastName +' '+ item.secondLastName] | highlight: $select.search"></div>
                    <small ng-bind-html="item.personType.name | highlight: $select.search"></small>
                </ui-select-choices>
            </ui-select> 
            <span class="input-group-btn" ng-if="vm.eventregistration.event">
              <button type="button" ng-click="vm.person = undefined" class="btn btn-default">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </span>
          </div>  
          <div class="input-group" ng-if="!vm.people.length && vm.eventregistration.event">
            <strong>No hay personas pendientes de agregar al evento seleccionado.</strong>
          </div>     
          <div ng-messages="vm.form.person.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Persona es requerido.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">{{vm.eventregistration._id ? 'Actualizar' : 'Crear'}}</button>
        </div>
      </fieldset>
    </form>
    <br /><br />
  </div>
</section>

        
