<section>
  <div class="page-header">
    <h1>Lista de Inscritos</h1>
  </div>
  <a class="btn btn-primary" data-ui-sref="eventregistrations.create">Nueva Inscripción</a>
  <br /><br />
  <div id="content" data-ng-if="vm.eventregistrations.length">
    <br />
    <input class="form-control" ng-model="vm.searchFilter" placeholder="Buscar..." type="text"/>
    <br />
    <table class="table table-condensed">
      <thead>
      <tr>
        <th># Inscripción</th>
        <th>Evento</th>
        <th>Fecha de Inscripción</th>
        <th>Grupo</th>
        <th>Nombre Persona Inscrita</th>
        <th>Tipo de Persona</th>
        <th>Saldo ₡</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-class="vm.getStatusClass(eventRegistration)" ng-repeat="eventRegistration in vm.eventregistrations | orderBy:['person.firstName', 'person.lastName', 'person.secondLastName'] | filter : vm.searchFilter">
        <td>{{eventRegistration.registrationNumber}}</td>
        <td>{{eventRegistration.event.name}}</td>
        <td>{{eventRegistration.registrationDate | date:'dd-MMM-yyyy'}}</td>
        <td>{{eventRegistration.eventPeopleGroup.name}}</td>
        <td>{{eventRegistration.person.firstName}} {{eventRegistration.person.lastName}} {{eventRegistration.person.secondLastName}}</td>
        <td>{{eventRegistration.person.personType}}</td>
        <td>{{eventRegistration.balanceAmount}}</td>
        <td>    
          <a data-ui-sref="eventregistrations.edit({ eventregistrationId: eventRegistration._id, personId: eventRegistration.person._id })">Editar</a>    
        </td>
        <td>    
          <a ng-if="vm.hasPendingPayment(eventRegistration)" data-ui-sref="receipts.createFromEventRegistration({ eventregistrationId: eventRegistration._id })">Realizar Pago</a>    
        </td>
      </tr>
      </tbody>
    </table>
  </div>   
  <div class="alert alert-warning text-center" data-ng-if="vm.eventregistrations.$resolved && !vm.eventregistrations.length">
    No Eventregistrations yet, why don't you <a data-ui-sref="eventregistrations.create">create one</a>?
  </div>
</section>
