<div class="container">
  <div ng-if="vm.error">
    <br />
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" ng-click='vm.error = undefined'>&times;</a>
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <strong class="text-danger">Error:</strong>
      <span ng-bind-html="vm.error"></span>
    </div>
  </div>
  <div ng-if="vm.warning">
    <br />
    <div class="alert alert-warning" role="alert">
      <a href="#" class="close" data-dismiss="alert" ng-click='vm.warning = undefined'>&times;</a>
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <strong class="text-warning">Alerta:</strong>
      <span ng-bind-html="vm.warning"></span>
    </div>
  </div>
  <section>
    <div class="page-header">
      <h1>{{vm.eventregistrationrequest._id ? 'Editar' : 'Nueva Solicitud'}} <span ng-if="vm.isNewMemberRegistration()"> - Nuevo Miembro</span> <span ng-if="!vm.isNewMemberRegistration()"> - Miembro Existente</span></h1>
      
      <h2 ng-if="vm.eventregistrationrequest._id"># de Solicitud: {{vm.eventregistrationrequest.requestNumber}}</h2>
        <small ng-if="vm.eventregistrationrequest._id">
          <em class="text-muted">
            Creado en
            <span data-ng-bind="vm.eventregistrationrequest.created | date:'mediumDate'"></span>
            Por
            <span data-ng-if="vm.eventregistrationrequest.user"
                  data-ng-bind="vm.eventregistrationrequest.user.displayName"></span>
            <span data-ng-if="!vm.eventregistrationrequest.user">Deleted User</span>
          </em>
        </small>
    </div>  
    <div class="pull-left">
       <a class="btn btn-secondary"
         data-ui-sref="eventregistrationrequests.list()">
        <i class="glyphicon glyphicon-arrow-left"></i>
        Regresar
      </a>
    </div>
    <br /><br />
    <h3 class="bg-warning" for="event">Los campos marcados con asterisco (*) son requeridos.</h3> 
    <div class="col-md-12">
      <form name="vm.form.eventregistrationrequestForm" class="form-horizontal" ng-submit="vm.save(vm.form.eventregistrationrequestForm.$valid)" novalidate>
        <fieldset>              
          <div class="form-group">
            <button type="submit" class="btn btn-primary">{{vm.eventregistrationrequest._id ? 'Actualizar' : 'Crear'}}</button>
          </div>
          <div class="form-group" show-errors>        
            <label class="control-label" for="event">Evento *</label>  
            <input name="event" type="hidden" ng-model="vm.eventregistrationrequest.event" id="event" class="form-control" required>
            <div class="input-group select2-bootstrap-append">
              <ui-select ng-model="vm.eventregistrationrequest.event"  on-select="vm.setEvent(vm.eventregistrationrequest.event)" ng-disabled="vm.isSelectionDisabled()">
                <ui-select-match  placeholder="Seleccione el evento...">
                      <span>{{$select.selected.name}}</span>
                  </ui-select-match>
                  <ui-select-choices repeat="item in (vm.events | filter: $select.search | filter: {nonRegistration:false}) track by item._id">
                      <div ng-bind-html="item.name | highlight: $select.search"></div>
                  </ui-select-choices>
              </ui-select> 
              <span class="input-group-btn">
                <button type="button" ng-click="vm.clearEventSelection()" ng-disabled="vm.isSelectionDisabled()" class="btn btn-default">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </span>  
            </div> 
            <div ng-messages="vm.form.eventregistrationrequestForm.event.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Evento es requerido.</p>
            </div>
          </div>   
          <br />
          <fieldset ng-if="vm.eventregistrationrequest.event && vm.eventregistrationrequest.person">
          <legend>Datos Personales</legend>
            <div ng-if="!vm.isQuickRegistration()">
              <person-form id="1" person="vm.eventregistrationrequest.person" form="vm.form.eventregistrationrequestForm" required-fields="vm.regularRegistrationRequiredFields" error="vm.error"></person-form>
            </div>
            <div ng-if="vm.isQuickRegistration()">
              <person-form id="2" person="vm.eventregistrationrequest.person" form="vm.form.eventregistrationrequestForm" required-fields="vm.quickRegistrationRequiredFields" hide-optional-fields="true" error="vm.error"></person-form>
            </div>
          </fieldset>


        <br />

        <div class="form-group">  
          <input name="paymentDetailsIncluded" type="hidden" ng-model="paymentDetailsIncluded" id="paymentDetailsIncluded" autocomplete="off" class="form-control">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="paymentDetailsIncluded">
              <b>Incluir Detalles del Pago</b>
            </label>
          </div>
        </div>
        <br />
        <fieldset ng-if="paymentDetailsIncluded">
          <legend>Detalles del pago</legend>
          <div class="form-group" show-errors>
            <label class="control-label" for="paymentDate">Fecha de pago *</label>
            <br />
            <input name="paymentDate" type="hidden" ng-model="vm.vm.eventregistrationrequest.paymentInfo.paymentDate" id="paymentDate" class="form-control" required>
            <input name="paymentDate" type="text" value="{{vm.vm.eventregistrationrequest.paymentInfo.paymentDate | date:'mediumDate'}}" id="paymentDate" class="form-control" ng-if="vm.receipt._id" ng-disabled="true">
            <div>
              <datetimepicker 
                ng-model="vm.vm.eventregistrationrequest.paymentInfo.paymentDate" 
                hidden-time="true" 
                date-format="dd-MMM-yyyy" 
                current-text="Hoy"
                clear-text="Limpiar"
                close-text="Cerrar"> 
              </datetimepicker>    
            </div>      
            <div ng-messages="vm.form.eventregistrationrequestForm.paymentDate.$error" role="alert">
              <p class="help-block error-text" ng-message="required" >Fecha de pago es requerido.</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label class="control-label" for="paymentAmount">Monto del pago *</label>
            <div class="input-group"> 
              <span class="input-group-addon">₡</span>              
              <input name="paymentAmount" type="number"  onwheel="return false;" ng-model="vm.vm.eventregistrationrequest.paymentInfo.paymentAmount" id="paymentAmount" class="form-control currency" placeholder="Monto del pago" required>
            </div>
            <div ng-messages="vm.form.eventregistrationrequestForm.paymentAmount.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Monto del pago es requerido.</p>    
            </div>
          </div>
          <div class="form-group" show-errors>
            <label class="control-label" for="confirmationCode">Código de confirmación (Número de transferencia) *</label>
            <input name="confirmationCode" type="text" ng-model="person.sponsorship.confirmationCode" id="confirmationCode" autocomplete="off" class="form-control" placeholder="Código de confirmación" required>
            <div ng-messages="form.eventregistrationrequestForm.confirmationCode.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Código de confirmación es requerido</p>
            </div>
          </div>
        </fieldset>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">{{vm.eventregistrationrequest._id ? 'Actualizar' : 'Crear'}}</button>
          </div>
      </fieldset> 
      </form>
      <br /><br />
    </div>
  </section>
</div>
        
