<div ng-if="vm.error">
  <br />
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" ng-click='vm.error = undefined'>&times;</a>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <strong class="text-danger">Error:</strong>
    <span>{{vm.error}}</span>
  </div>
</div>
<div ng-if="vm.warning">
  <br />
  <div class="alert alert-warning" role="alert">
    <a href="#" class="close" data-dismiss="alert" ng-click='vm.warning = undefined'>&times;</a>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <strong class="text-warning">Alerta:</strong>
    <span>{{vm.warning}}</span>
  </div>
</div>
<section>
  <div class="page-header">
    <h2>Lista de Solicitudes</h2>
  </div>
  <!-- <a class="btn btn-primary" data-ui-sref="eventregistrationrequests.create">Nuevo Miembro</a> -->
  <a class="btn btn-primary" data-ui-sref="eventregistrationrequests.create()">Crear Solicitud</a>
  <br /><br />
  <div id="content" data-ng-if="vm.eventregistrationrequests.length">
    <div class="col-md-6 form-group" ng-show="false">        
      <label class="control-label" for="event">Evento: </label>  
      <div class="input-group select2-bootstrap-append">
        <ui-select ng-model="vm.event">
          <ui-select-match  placeholder="Seleccione el tipo de persona...">
                <span>{{$select.selected.name}}</span>
            </ui-select-match>
            <ui-select-choices repeat="item in (vm.events | filter: $select.search) track by item._id">
                <div ng-bind-html="item.name | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select> 
        <span class="input-group-btn">
          <button type="button" ng-click="vm.event = undefined" class="btn btn-default"  data-toggle="tooltip" title="Borrar filtro de evento">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </span>  
      </div> 
    </div>  
    <div class="form-group col-md-6">        
      <label class="control-label" for="requestDate">Fecha de Solicitud</label>
        <br />
        <div class="input-group select2-bootstrap-append">
            <datetimepicker ng-if="!vm.editMode"
              ng-model="vm.requestDate" 
              hidden-time="true" 
              date-format="dd-MMM-yyyy" 
              current-text="Hoy"
              clear-text="Limpiar"
              close-text="Cerrar"></datetimepicker>         
            <button type="button" ng-click="vm.requestDate = undefined" class="btn btn-default" data-toggle="tooltip" title="Borrar filtro de fecha">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </div>
    </div> 
    <div class="col-md-12">
     <strong>Columnas para mostrar <button type="button" class="btn btn-link" ng-click="vm.isCollapsed = !vm.isCollapsed">
      {{vm.isCollapsed ? 'Ver opciones &gt;&gt;' : '&lt;&lt; Ocultar Opciones'}}</button>
     </strong>
    </div>
    <div class="col-md-12 well well-lg" uib-collapse="vm.isCollapsed">
      <label class="checkbox-inline" ng-repeat="col in vm.cols">
        <input type="checkbox" ng-if="col.title()" ng-model-options="{ getterSetter: true }" ng-model="col.show"/> 
        {{col.title()}}
      </label>
    </div>
    <button class="btn btn-warning pull-right" ng-disabled="!vm.tableParams.hasFilter()" ng-click="vm.tableParams.filter({});vm.requestDate = undefined;">Borrar Filtros de Búsqueda</button>
    <div id="exportable" class="table table-responsive">        
      <table ng-table="vm.tableParams" class="table table-hover table-condensed editable-table" show-filter="true" ng-table-columns-binding="vm.cols" export-csv='csv' ng-form="vm.tableForm" disable-filter="vm.isAdding" demo-tracked-table="vm.tableTracker" >
        <tbody>
          <tr class="success" ng-repeat="eventRegistration in $data" ng-form="rowForm" demo-tracked-table-row="eventRegistration">
            <td class="col-md-1" title="'# de Solicitud'" filter="{ 'requestNumber': 'number'}" sortable="'requestNumber'" ng-if="true">
                <a data-ui-sref="eventregistrationrequests.edit({ eventregistrationrequestId: eventRegistration._id, personId: eventRegistration.person._id })" data-toggle="tooltip" title="Editar inscripción #{{eventRegistration.requestNumber}}">{{eventRegistration.requestNumber}}</a></td>
            <td title="'Evento'" filter="{ 'event.name': 'select'}" filter-data="vm.eventsFilterArray" sortable="'event.name'" ng-if="true">
                {{eventRegistration.event.name}}</td>
            <td title="'Fecha de Solicitud'" sortable="'requestDate'" ng-if="true">
                {{eventRegistration.requestDate | date:'dd-MMM-yyyy'}}</td>
            <td title="'Cédula'" filter="{ 'person.personId': 'text'}" sortable="'person.personId'" ng-if="true">
                {{eventRegistration.person.personId}}</td>
            <td title="'Nombre'" filter="{ 'person.firstName': 'text'}" sortable="'person.firstName'" ng-if="true">
                {{eventRegistration.person.firstName}}</td>
            <td title="'1er. Apellido'" filter="{ 'person.lastName': 'text'}" sortable="'person.lastName'" ng-if="true">
                {{eventRegistration.person.lastName}}</td>
            <td title="'2do. Apellido'" filter="{ 'person.secondLastName': 'text'}" sortable="'person.secondLastName'" ng-if="true">
              {{eventRegistration.person.secondLastName}}
            </td>
            <td title="'Tipo de Persona'" filter="{ 'personType.name': 'select'}" filter-data="vm.personTypesFilterArray" sortable="'personType.name'" ng-if="true">
                {{eventRegistration.personType.name}}</td>
            <td title="'Tel. Celular'" filter="{ 'person.mobilePhone': 'text'}" sortable="'person.mobilePhone'" ng-if="true">
                {{eventRegistration.person.mobilePhone}}</td>
            <td title="'Tel. Casa'" filter="{ 'person.homePhone': 'text'}" sortable="'person.homePhone'" ng-if="false">
                {{eventRegistration.person.homePhone}}</td>
            <td title="'Tel. Otro'" filter="{ 'person.otherPhone': 'text'}" sortable="'person.otherPhone'" ng-if="false">
                {{eventRegistration.person.otherPhone}}</td>
            <td title="'Cantidad'" filter="{ 'quantity': 'number'}" sortable="'quantity'" ng-if="true">
              {{eventRegistration.quantity}}</td>
            <td class="col-md-1" title="'Pago Reportado ₡'" filter="{ 'paymentInformation.paymentAmount': 'text'}" sortable="'paymentAmount'" ng-if="true">
                {{eventRegistration.paymentInformation.paymentAmount | currency:''}}</td>   
            <td class="col-md-1" title="'Comprobante de Pago'" filter="{ 'paymentInformation.confirmationCode': 'text'}" sortable="'confirmationCode'" ng-if="true">
                {{eventRegistration.paymentInformation.confirmationCode}}</td>          
            <td title="'Fecha de Pago'" sortable="'paymentInformation.paymentDate'" ng-if="true">
                {{eventRegistration.paymentInformation.paymentDate | date:'dd-MMM-yyyy'}}</td>
            <td class="col-md-1">  
              <a class="btn btn-success btn-sm"
              data-toggle="tooltip" 
              data-ui-sref="eventregistrations.createFromRequest({ eventregistrationrequestId: eventRegistration._id})"
              title="Desea crear la inscripción basada en la solicitud #{{eventRegistration.requestNumber}}">
                <i class="glyphicon glyphicon glyphicon-copy"></i> Crear Inscripción </a>
            <td class="col-md-1">
              <a ng-if="vm.authentication.isUserAdmin()" class="btn btn-danger btn-sm" data-ng-click="vm.remove(eventRegistration)" data-toggle="tooltip" title="Eliminar solicitud #{{eventRegistration.requestNumber}}">
                <i class="glyphicon glyphicon-trash"></i> Eliminar</a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>          
            <td ng-if="vm.cols[0].show()"></td>  
            <td ng-if="vm.cols[1].show()"></td> 
            <td ng-if="vm.cols[2].show()"></td> 
            <td ng-if="vm.cols[3].show()"></td>   
            <td ng-if="vm.cols[4].show()"></td> 
            <td ng-if="vm.cols[5].show()"></td> 
            <td ng-if="vm.cols[6].show()"></td> 
            <td ng-if="vm.cols[7].show()"></td> 
            <td ng-if="vm.cols[9].show()"></td> 
            <td ng-if="vm.cols[10].show()"></td> 
            <td ng-if="vm.cols[11].show()"></td> 
            <td ng-if="vm.cols[13].show()"></td> 
            <td ng-if="true" class="text-center">            
              <span><b>Solicitudes:</b> {{($data).length}}</span>
            </td>
            <td>
              <div class="text-right">
              <a class="btn" title="Export Table" ng-click='csv.generate()' ng-href="{{ csv.link() }}"
                 download="SOLICITUDES_DE_INSCRIPCION.csv">
                <i class="glyphicon glyphicon-new-window"></i> &#160;Exportar
              </a> 
            </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>    
  </div>   
  <div class="alert alert-warning text-center" data-ng-if="vm.eventregistrationrequests.$resolved && !vm.eventregistrationrequests.length">
    No hay Solicitues pendientes, Desea <a data-ui-sref="eventregistrationrequests.create">crear una</a>?
  </div>
</section>
