<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.eventregistrationrequest.requestNumber"></h1>
  </div>
  <div class="pull-right"
       data-ng-show="vm.eventregistrationrequest.isCurrentUserOwner">
    <a class="btn btn-primary" data-ui-sref="eventregistrationrequests.edit({ eventregistrationrequestId: vm.eventregistrationrequest._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-show="vm.authentication.isUserAdmin()" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.eventregistrationrequest.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.eventregistrationrequest.user"
            data-ng-bind="vm.eventregistrationrequest.user.displayName"></span>
      <span data-ng-if="!vm.eventregistrationrequest.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.eventregistrationrequest.event.name"></p>
  <p class="lead" data-ng-bind="vm.eventregistrationrequest.person.firstName"></p>
  <p class="lead" data-ng-bind="vm.eventregistrationrequest.person.lastName"></p>
  <p class="lead" data-ng-bind="vm.eventregistrationrequest.person.secondLastName"></p>
</section>
