<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.eventregistrationrequest.requestNumber"></h1>
  </div>
  <div class="pull-right"
       data-ng-show="vm.eventregistrationrequest.isCurrentUserOwner">
    <a class="btn btn-primary" data-ui-sref="eventregistrationrequests.edit({ eventregistrationrequestId: vm.eventregistrationrequest._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-show="vm.authentication.isUserAdmin()" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <p class="lead" data-ng-bind="vm.eventregistrationrequest.event.name"></p>
  <p class="lead" data-ng-bind="vm.eventregistrationrequest.person.firstName"></p>
  <p class="lead" data-ng-bind="vm.eventregistrationrequest.person.lastName"></p>
  <p class="lead" data-ng-bind="vm.eventregistrationrequest.person.secondLastName"></p>
</section>
