<section>
  <div class="page-header">
    <h1>{{vm.student.serviceAcademyClass.Name}}</h1>
    <h2>Agregar Estudiantes:</h2>
  </div>
  <div class="col-md-12">
    <form name="vm.form.studentForm" class="form-horizontal" ng-submit="vm.save(vm.form.studentForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group">
          <div class="dropdown" id="serviceAcademyClassDropdown" uib-dropdown>
            <label class="control-label" for="serviceAcademyClass">Academia: </label>
            <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle role="button">
              <span ng-if="!vm.serviceAcademyClass">-- Seleccione la Academia --</span>
              {{vm.serviceAcademyClass.name}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" ng-if="vm.serviceAcademyClasses">
              <li>
                <a ng-click="vm.setServiceAcademyClass()">-- Todos --</a>
              </li>
              <li data-ng-repeat="serviceAcademyClass in vm.serviceAcademyClasses | orderBy:'name'">
                <a ng-click="vm.setServiceAcademyClass(serviceAcademyClass)">{{serviceAcademyClass.name}}</a>
              </li>
            </ul>
          </div> 
        </div>    
      <br />
      <div class="form-group">
          <ui-select ng-model="vm.selectedPeople.value">
            <ui-select-match placeholder="Select or search a person in the list...">
                  <span>{{$item.firstName}} {{$item.lastName}} {{$item.secondLastName}}</span>
              </ui-select-match>
              <ui-select-choices repeat="item in (vm.people | filter: $select.search) track by item._id">
                  <span ng-bind="item.firstName"></span>
                  <div ng-bind-html="item.firstName | highlight: $select.search"></div>
                  <div ng-bind-html="item.lsatName | highlight: $select.search"></div>
                  <div ng-bind-html="item.secondLastName | highlight: $select.search"></div>
                  <small ng-bind-html="item.personType.name | highlight: $select.search"></small>
              </ui-select-choices>
          </ui-select>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.student.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.studentForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Student name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Guardar</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>

        
