<section>
  <div class="page-header">
    <h1>{{vm.student._id ? 'Editar Estudiante' : 'Agregar Estudiante'}}</h1>
  </div>
  <div class="pull-left">
     <a class="btn btn-secondary" data-ui-sref="students.list()">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Regresar
    </a>
  </div>
  <br /><br />
  <div class="col-md-12">
    <form name="vm.form.studentForm" class="form-horizontal" ng-submit="vm.save(vm.form.studentForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <div class="dropdown" id="serviceAcademyClassDropdown" uib-dropdown>
            <label class="control-label" for="serviceAcademyClass">Academia *</label>
            <input name="serviceAcademyClass" type="hidden" ng-model="vm.student.serviceAcademyClass" id="organization" class="form-control" placeholder="Organización" required>
            <div class="dropdown" id="serviceAcademyClassDropdown" uib-dropdown>
              <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle role="button">
                <span ng-if="!vm.student.serviceAcademyClass">-- Seleccione la Academia --</span>
                {{vm.student.serviceAcademyClass.name}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" ng-if="vm.serviceAcademyClasses">
                <li data-ng-repeat="serviceAcademyClass in vm.serviceAcademyClasses | orderBy:'name'">
                  <a ng-click="vm.setServiceAcademyClass(serviceAcademyClass)">{{serviceAcademyClass.name}}</a>
                </li>
              </ul>
            </div> 
          </div> 
          <div ng-messages="vm.form.studentForm.serviceAcademyClass.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Academia es requerido.</p>
          </div>
        </div>    
        <div class="form-group" show-errors>        
          <label class="control-label" for="student">Estudiante *</label>
          <input name="person" type="hidden" ng-model="vm.student.person" id="person" class="form-control" required>
          <div class="input-group select2-bootstrap-append">
            <ui-select ng-model="vm.student.person" ng-disabled="vm.student._id">
              <ui-select-match  placeholder="Seleccione la persona...">
                    <span>{{$select.selected.firstName}} {{$select.selected.lastName}} {{$select.selected.secondLastName}}</span>
                </ui-select-match>
                <ui-select-choices repeat="item in (vm.people | filter: $select.search) track by item._id">
                    <div ng-bind-html="[item.firstName +' '+ item.lastName +' '+ item.secondLastName] | highlight: $select.search"></div>
                    <small ng-bind-html="item.personType.name | highlight: $select.search"></small>
                </ui-select-choices>
            </ui-select> 
            <span class="input-group-btn" ng-if="!vm.student._id">
              <button type="button" ng-click="vm.student.person = undefined" class="btn btn-default">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </span>
            </div>          
          <div ng-messages="vm.form.studentForm.person.$error.required" role="alert">
            <p class="help-block error-text" ng-message="required">Estudiante es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="score">Nota</label>
          <input name="score" type="number" min="0" max="100" ng-model="vm.student.score" id="score" class="form-control" placeholder="Nota">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.student._id ? 'Actualizar' : 'Crear'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
