<section>
  <div class="page-header">
    <h1>Estudiantes</h1>
  </div>
  <a class="btn btn-primary" data-ui-sref="students.create">Agregar Estudiante</a>
  <br/><br/>
  <div id="content" data-ng-if="vm.students.length">
    <br />
    <div class="form-group">
      <div class="dropdown" id="serviceAcademyClassDropdown" uib-dropdown>
        <label class="control-label" for="serviceAcademyClass">Academia: </label>
        <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle role="button">
          <span ng-if="!vm.serviceAcademyClass">-- Todos --</span>
          {{vm.serviceAcademyClass.name}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" ng-if="vm.serviceAcademyClasses">
          <li>
            <a ng-click="vm.setServiceAcademyClass()">-- Todos --</a>
          </li>
          <li data-ng-repeat="serviceAcademyClass in vm.serviceAcademyClasses | orderBy:'name'">
            <a ng-click="vm.setServiceAcademyClass(serviceAcademyClass)">{{serviceAcademyClass.name}}</a>
          </li>
        </ul>
      <a class="btn btn-secondary" data-ui-sref="serviceacademyclasses.list()">
        <i class="glyphicon glyphicon-th-list"></i>
        Lista de Academias
      </a>
      </div>
    </div>    
    <br />
    <input class="form-control" ng-model="vm.searchFilter" placeholder="Buscar..." type="text"/>
    <br />
    <div id="exportable">
      <table class="table table-condensed">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Primer Apellido</th>
          <th>Segundo Apellido</th>
          <th>Academia</th>
          <th>Nota</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="student in vm.students | orderBy:['startDate', 'name'] | filter: vm.searchFilter | filter: vm.serviceAcademyClass.name" ng-class="vm.getStatusClass(student)">
          <td>{{student.person.firstName}}</td>
          <td>{{student.person.lastName}}</td>
          <td>{{student.person.secondLastName}}</td>
          <td>{{student.serviceAcademyClass.name}}</td>
          <td>{{student.score}}</td>
          <td>    
            <a data-ui-sref="students.view({ studentId: student._id})">Detalles</a>    
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.students.$resolved && !vm.students.length">
    No hay estudiantes <a data-ui-sref="students.create">Crear</a>?
  </div>
</section>
