<div ng-if="vm.error">
  <br />
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <strong class="text-danger">Error:</strong>
    <span>{{vm.error}}</span>
  </div>
</div>
<section>
  <div class="page-header">
    <h1>{{vm.receipt._id ? 'Editar Recibo' : 'Nuevo Recibo'}}</h1>
  </div>
  <div class="pull-left">
    <a class="btn btn-secondary" ng-if="vm.isEventRegistrationPayment" data-ui-sref="eventregistrations.list()">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Inscripciones
    </a>
    <a class="btn btn-secondary" data-ui-sref="receipts.list()">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Recibos
    </a>
  </div>
  <br /><br />
  <div class="col-md-12">
    <form name="vm.form.receiptForm" class="form-horizontal" ng-submit="vm.save(vm.form.receiptForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>  
          <input name="isDebit" type="hidden" ng-model="vm.receipt.isDebit" id="isDebit" class="form-control">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="vm.receipt.isDebit" ng-click="vm.onIsDebitClicked()" ng-disabled="vm.isEventRegistrationPayment && vm.receipt._id">
              <b>Salida de dinero</b>
            </label>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="paymentDate">Fecha de pago *</label>
          <br />
          <input name="paymentDate" type="hidden" ng-model="vm.receipt.paymentDate" id="paymentDate" class="form-control" required>
          <input name="paymentDate" type="text" value="{{vm.receipt.paymentDate | date:'mediumDate'}}" id="paymentDate" class="form-control" ng-if="vm.receipt._id" ng-disabled="true">
          <div ng-if="!vm.receipt._id">
              <datetimepicker 
                ng-model="vm.receipt.paymentDate" 
                hidden-time="true" 
                date-format="dd-MMM-yyyy" 
                current-text="Hoy"
                clear-text="Limpiar"
                close-text="Cerrar"> 
              </datetimepicker>    
            </div>      
          <div ng-messages="vm.form.paymentDate.$error" role="alert">
            <p class="help-block error-text" ng-message="required" >Fecha de pago es requerido.</p>
          </div>
        </div>
        {{vm.isEventRegistrationPayment}}
        <div class="form-group" show-errors ng-if="!vm.isEventRegistrationPayment">        
          <label class="control-label" for="event">Evento *</label>  
          <input name="event" type="hidden" ng-model="vm.receipt.event" id="event" class="form-control" required>
          <div class="input-group">
            <ui-select ng-model="vm.receipt.event"  on-select="vm.setEvent(vm.receipt.event)">
              <ui-select-match  placeholder="Seleccione el evento...">
                    <span>{{$select.selected.name}}</span>
                </ui-select-match>
                <ui-select-choices repeat="item in (vm.events | filter: $select.search) track by item._id">
                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select> 
            <span class="input-group-btn" ng-if="!vm.isEventRegistrationPayment">
              <button type="button" ng-click="vm.receipt.event = vm.person = undefined" class="btn btn-default">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </span>  
          </div> 
          <div ng-messages="vm.form.receiptForm.event.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Evento es requerido.</p>
          </div>
        </div> 
        <div class="form-group" show-errors ng-if="vm.isEventRegistrationPayment">        
          <label class="control-label" for="event">Evento *</label>  
          <input name="eventRegistrationEvent" type="hidden" ng-model="vm.eventregistration.event.name" id="eventRegistrationEvent" class="form-control" required>
          <div class="input-group">
            <ui-select ng-model="vm.eventregistration.event"  on-select="vm.setEventRegistrationEvent(vm.receipt.eventRegistration.event)" ng-disabled="vm.receipt._id || vm.isEventRegistrationPayment">
              <ui-select-match  placeholder="Seleccione el evento...">
                    <span>{{$select.selected.name}}</span>
                </ui-select-match>
                <ui-select-choices repeat="item in (vm.events | filter: $select.search) track by item._id">
                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select> 
            <span class="input-group-btn" ng-if="!vm.isEventRegistrationPayment">
              <button type="button" ng-click="vm.eventregistration.event = vm.person = undefined" class="btn btn-default">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </span>  
          </div> 
          <div ng-messages="vm.form.receiptForm.eventRegistrationEvent.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Evento es requerido.</p>
          </div>
        </div> 
        <div ng-if="vm.isEventRegistrationPayment" class="form-group" show-errors>
          <label class="control-label" for="eventPeopleGrupo">Grupo</label>
          <input ng-disabled="vm.isEventRegistrationPayment" name="eventPeopleGrupo" type="text" ng-model="vm.eventregistration.eventPeopleGroup.name" id="eventPeopleGrupo" class="form-control"  ng-disabled="vm.receipt._id">
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="receivedFrom">Recibido de *</label>
          <input name="receivedFrom" ng-disabled="vm.isEventRegistrationPayment || vm.receipt._id" type="text" ng-model="vm.receipt.receivedFrom" id="receivedFrom" class="form-control" placeholder="Recibido de" required>
          <div ng-messages="vm.form.receiptForm.receivedFrom.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Recibido de es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="shirtSize">Por concepto de *</label>
          <input name="paymentOf" type="hidden" ng-model="vm.receipt.paymentOf" id="paymentOf" class="form-control" placeholder="Por concepto de" required>
          <div class="dropdown" id="paymentOfDropdown" uib-dropdown>
            <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle role="button">
              <span ng-if="!vm.receipt.paymentOf">-- Seleccione uno --</span>
              {{vm.receipt.paymentOf}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="paymentOf in vm.paymentOfList">
                <a ng-click="vm.setPaymentOf(paymentOf)">{{paymentOf}}</a>
              </li>
            </ul>
          </div> 
          <div ng-messages="vm.form.receiptForm.paymentOf.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Por concepto de es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="description">Descripción</label>
          <input name="description" type="text" ng-model="vm.receipt.description" id="description" class="form-control" placeholder="Descripción">
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="currentBalance">Saldo actual *</label>
          <div class="input-group"> 
            <span class="input-group-addon">₡</span>
            <input type="number" ng-disabled="(vm.isEventRegistrationPayment || vm.receipt.isDebit)" name="currentBalance" type="number" ng-model="vm.receipt.currentBalance" ng-change="vm.calculateBalanceDue()" id="currentBalance" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" placeholder="Saldo actual" required>
          </div>         
          <div ng-messages="vm.form.receiptForm.currentBalance.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Saldo actual es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="paymentAmount">Abono (monto del pago) *</label>
          <div class="input-group"> 
            <span class="input-group-addon">₡</span>
            <input name="paymentAmount" type="number" ng-model="vm.receipt.paymentAmount" ng-change="vm.calculateBalanceDue()" id="paymentAmount" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" placeholder="Abono" required ng-disabled="vm.isEventRegistrationPayment && vm.receipt._id" lower-than="{{vm.receipt.currentBalance}}">
          </div>
          <div ng-messages="vm.form.receiptForm.paymentAmount.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Abono es requerido.</p>
            <p class="help-block error-text" ng-message="lowerThan">Abono no puede ser mayor al saldo actual.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="balanceDue">Saldo adeudado</label>
          <div class="input-group"> 
            <span class="input-group-addon">₡</span>
            <input name="balanceDue" type="number" ng-model="vm.receipt.balanceDue" id="balanceDue" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" placeholder="Abono" ng-disabled="true" required>            
          </div>
          <div ng-messages="vm.form.receiptForm.balanceDue.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Saldo adeudado es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="otherReference">Otra referencia</label>
          <input name="otherReference" type="text" ng-model="vm.receipt.otherReference" id="otherReference" class="form-control" placeholder="Otra referencia">
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="receivedBy">Recibido por</label>
          <input name="receivedBy" type="text" ng-model="vm.receipt.receivedBy" id="receivedBy" class="form-control" placeholder="Recibido de" required>
          <div ng-messages="vm.form.receiptForm.receivedBy.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Recibido por es requerido.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">{{vm.receipt._id ? 'Actualizar' : 'Crear'}}</button>        
        </div>
      </fieldset>
    </form>
  </div>
</section>
