<section>
  <div class="page-header">
    <h1>Recibos</h1>
  </div>
  <a class="btn btn-primary" data-ui-sref="receipts.create">Nuevo Recibo</a>
  <br/> <br/>
  <div id="content" data-ng-if="vm.receipts.length">
    <br />
    <input class="form-control" ng-model="vm.searchFilter" placeholder="Buscar..." type="text"/>
    <br />
    <table class="table table-condensed">
      <thead>
      <tr>
        <th># recibo</th>
        <th>Evento</th>
        <th>Por concepto de</th>
        <th>Fecha de pago</th>
        <th>Recibido de</th>
        <th>Saldo ₡</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-class="vm.getStatusClass(receipt)" ng-repeat="receipt in vm.receipts | orderBy:['receivedFrom', 'paymentDate'] | filter : vm.searchFilter">
        <td>{{receipt.receiptNumber}}</td>
        <td>{{receipt.event.name}}</td>
        <td>{{receipt.paymentOf}}</td>
        <td>{{receipt.paymentDate | date:'dd-MMM-yyyy'}}</td>
        <td>{{receipt.receivedFrom}}</td>
        <td>{{receipt.balanceDue}}</td>
        <td>    
          <a data-ui-sref="receipts.view({ receiptId: receipt._id })">Detalles</a>    
        </td>
      </tr>
      </tbody>
    </table>
  </div>   
  <div class="alert alert-warning text-center" data-ng-if="vm.receipts.$resolved && !vm.receipts.length">
    No hay recibos creados <a data-ui-sref="receipts.create">Crear uno</a>?
  </div>
</section>
