<section>
  <div class="page-header">
    <h1>Recibos</h1>
  </div>
  <a class="btn btn-primary" data-ui-sref="receipts.create">Nuevo Recibo</a>
  <br/> <br/>
  <div id="content" data-ng-if="vm.receipts.length">
    <div class="form-group">        
      <label class="control-label" for="event">Evento: </label>  
      <div class="input-group select2-bootstrap-append">
        <ui-select ng-model="vm.event">
          <ui-select-match  placeholder="Seleccione el tipo de persona...">
                <span>{{$select.selected.name}}</span>
            </ui-select-match>
            <ui-select-choices repeat="item in (vm.events | filter: $select.search) track by item._id">
                <div ng-bind-html="item.name | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select> 
        <span class="input-group-btn">
          <button type="button" ng-click="vm.event = undefined" class="btn btn-default">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </span>  
      </div> 
    </div>
    <input class="form-control" ng-model="vm.searchFilter" placeholder="Buscar..." type="text"/>
    <br />
    <div id="exportable">
      <table class="table table-condensed">
        <thead>
        <tr>
          <th># Inscripción</th>
          <th># Recibo</th>
          <th>Evento</th>
          <th>Por concepto de</th>
          <th>Fecha de pago</th>
          <th>Recibido de</th>
          <th>Mondo del pago ₡</th>
        </tr>
        </thead>        
        <tbody>
        <tr ng-class="vm.getStatusClass(receipt)" ng-repeat="receipt in vm.receipts | orderBy:['receivedFrom', 'paymentDate'] | filter : vm.searchFilter | filter: vm.event.name">
          <td>{{receipt.eventRegistration.registrationNumber}}</td>
          <td>{{receipt.receiptNumber}}</td>          
          <td ng-if="receipt.eventRegistration">{{receipt.eventRegistration.event.name}}</td>
          <td ng-if="!receipt.eventRegistration">{{receipt.event.name}}</td>
          <td>{{receipt.paymentOf}}</td>
          <td>{{receipt.paymentDate | date:'dd-MMM-yyyy'}}</td>
          <td>{{receipt.receivedFrom}}</td>
          <td>{{receipt.paymentAmount | currency:''}}</td>{{vm.addToTotal(receipt.paymentAmount)}}
          <td>    
            <a data-ui-sref="receipts.view({ receiptId: receipt._id })">Detalles</a>    
          </td>
        </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5"></td>            
            <td align="right"><b>Total:</b></td>
            <td ng-class="vm.getTotalClass(vm.receipts | filter: vm.searchFilter | filter: vm.event.name | sumByKey:'paymentAmount')">{{vm.receipts | filter: vm.searchFilter | filter: vm.event.name | sumByKey:'paymentAmount'  | currency:''}}</td>
          </tr>
        </tfoot>
      </table>    
    </div> 
    <export-to-file link-text="Exportar" element-id="exportable" format="excel" file-name="RECIBOS"></export-to-file> 
  </div>   
  <div class="alert alert-warning text-center" data-ng-if="vm.receipts.$resolved && !vm.receipts.length">
    No hay recibos creados <a data-ui-sref="receipts.create">Crear uno</a>?
  </div>
</section>
