<div ng-if="vm.error">
  <br />
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" ng-click='vm.error = undefined'>&times;</a>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <strong class="text-danger">Error:</strong>
    <span>{{vm.error}}</span>
  </div>
</div>
<div ng-if="vm.success">
  <br />
  <div class="alert alert-success" role="alert">
    <a href="#" class="close" data-dismiss="alert" ng-click='vm.success = undefined'>&times;</a>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <strong class="text-success">Operación ejecutada exitosamente:</strong>
    <span>{{vm.success}}</span>
  </div>
</div>
<section class="row">
  <div class="page-header">
    <h1># de Recibo: {{vm.receipt.receiptNumber}}</h1>
      <small>
        <em class="text-muted">
          Creado en
          <span data-ng-bind="vm.receipt.created | date:'mediumDate'"></span>
          Por
          <span data-ng-if="vm.receipt.user"
                data-ng-bind="vm.receipt.user.displayName"></span>
          <span data-ng-if="!vm.receipt.user">Deleted User</span>
        </em>
      </small>
  </div>  
  <div class="col-md-2 pull-left" ng-if="vm.eventregistration">
    <a class="btn btn-secondary" data-ui-sref="eventregistrations.list()">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Inscripciones
    </a>
  </div>
  <div class="col-md-2 pull-left">
    <a class="btn btn-secondary" data-ui-sref="receipts.list()">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Recibos
    </a>
  </div>
</section>
<section class="row">
  <div class="col-md-6 pull-right">
    <a class="btn btn-primary" data-ng-show="vm.authentication.isUserAdmin()" data-ui-sref="receipts.edit({ receiptId: vm.receipt._id })">
      <i class="glyphicon glyphicon-edit"></i>
      Editar
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove(vm.receipt)" ng-if="vm.authentication.isUserAdmin()">
      <i class="glyphicon glyphicon-trash"></i>
      Eliminar
    </a>
    <!-- <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a> -->
    <a class="btn btn-primary" data-ng-click="vm.print('receiptContent')">
      <i class="glyphicon glyphicon-print"></i> 
      Imprimir
    </a>
  </div>
</section>
<section>
  <div id="receiptContent" class="col-md-12">
    <fieldset>
      <div ng-if="!vm.eventregistration" class="form-group" >  
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="vm.receipt.isDebit" ng-disabled="true">
            <b>Salida de dinero</b>
          </label>
        </div>
      </div>
      <div class="form-group" >
        <label class="control-label" for="paymentDate">Fecha de pago:</label>
        <br />
         <span>{{vm.receipt.paymentDate | date:'mediumDate'}}</span>     
      </div>
      <div class="form-group" >
        <label class="control-label" for="event">Evento:</label>
        <div class="input-group"> 
          <span ng-if="vm.receipt.eventRegistration">{{vm.receipt.eventRegistration.event.name}}</span>
          <span ng-if="!vm.receipt.eventRegistration">{{vm.receipt.event.name}}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="receivedFrom">Recibido de:</label>
        <div class="input-group"> 
          <span>{{vm.receipt.receivedFrom}}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="shirtSize">Por concepto de:</label>
        <div class="input-group"> 
          <span>{{vm.receipt.paymentOf}}</span>
        </div>
      </div>
      <div class="form-group" >
        <label class="control-label" for="description">Descripción:</label>
        <div class="input-group"> 
          <span>{{vm.receipt.description}}</span>
        </div>
      </div>
      <div class="form-group" >
        <label class="control-label" for="currentBalance">Saldo actual:</label>
        <div class="input-group">         
          <span>{{vm.receipt.currentBalance | currency:'₡'}}</span>
        </div>
      </div>
      <div class="form-group" >
        <label class="control-label" for="paymentAmount">Abono (monto del pago):</label>
        <div class="input-group">         
          <span>{{vm.receipt.paymentAmount | currency:'₡'}}</span>
      </div>
      <br />
      <div class="form-group" >
        <label class="control-label" for="balanceDue">Saldo adeudado:</label>
        <div class="input-group"> 
          <span>{{vm.receipt.balanceDue | currency:'₡'}}</span>
        </div>
      </div>
      <div class="form-group"s>
        <label class="control-label" for="otherReference">Otra referencia:</label>
        <div class="input-group"> 
          <span>{{vm.receipt.otherReference}}</span>
        </div>
      </div>
      <div class="form-group" >
        <label class="control-label" for="receivedBy">Recibido por:</label>
        <div class="input-group"> 
          <span>{{vm.receipt.receivedBy}}</span>
        </div>
      </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
    </fieldset>
  </div>
</section>
