<section>
  <div class="page-header">
    <h1>{{vm.organization._id ? 'Editar Organización' : 'Nueva Organización'}}</h1>
  </div>
  <div class="pull-left">
     <a class="btn btn-secondary" data-ui-sref="organizations.list()">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Regresar
    </a>
  </div>
  <br /><br />
  <div class="col-md-12">
    <form name="vm.form.organizationForm" class="form-horizontal" ng-submit="vm.save(vm.form.organizationForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="orgName">Nombre</label>
          <input name="orgName" type="text" ng-model="vm.organization.name" id="orgName" class="form-control" placeholder="Nombre" required>
          <div ng-messages="vm.form.organizationForm.orgName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Nombre es requerido.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="description">Descripción</label>
          <textarea name="description" data-ng-model="vm.organization.description" id="description" class="form-control" cols="30" rows="10" placeholder="Descripción"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.organization._id ? 'Actualizar' : 'Crear'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
