<section>
  <div class="jumbotron text-center">
    <div class="row">
      <h3 class="text-muted">
        Iglesia Miel
      </h3>
      <h4 class="text-muted">
        Herramienta de Administración
      </h4>
       <h5 class="text-muted">
        versión beta 2
      </h5>
    </div> 
    <div class="row" ng-show="vm.authentication.user && !vm.authentication.isGuestUser()">    
      <span class="text-muted">Accesos directos:</span>
      <div class="form-group" ng-if="vm.authentication.user">
        <a class="btn btn-primary btn-xs" data-ui-sref="events.list">Eventos</a>
        <a class="btn btn-primary btn-xs" data-ui-sref="eventregistrations.list">Inscripciones</a>
        <a class="btn btn-primary btn-xs" data-ui-sref="receipts.list">Recibos</a>
        <a class="btn btn-primary btn-xs" data-ui-sref="serviceacademyclasses.list">Academias</a>
      </div> 
    </div> 
    <div class="row" ng-show="vm.authentication.user && vm.authentication.isGuestUser()">    
      <h3 class="text-danger">Contacte algún Administrador del sistema</h1>
      <h4 class="text-danger">Debe solicitar permisos para acceder a las diferentes secciones.</h2>
    </div>   
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="GeneracionDeCambioDC" class="img-responsive text-center" src="modules/core/client/img/brand/GDC logo Transparent.png" />
      </div>
    </div>
  </div>
  <br>
  <p class="text-center text-muted">
    Copyright 2016
  </p>
</section>
