<div>        
  <fieldset class="form-group fieldset" ng-if="contacts.length">
    <legend ng-if="!report">Información de contacto</legend>
    <table ng-class="report ? 'table table-condensed fontSize11px' : 'table table-condensed'">
      <thead ng-show="!report">
      <tr>
        <th>#</th>
        <th>Nombre *</th>
        <th>Teléfono *</th>
        <th>Dirección *</th>
        <th>Relación *</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in contacts track by $index">
        <td>{{$index+1}}</td>
        <td>  
          <div class="form-inline input-group" show-errors ng-if="!readonly">
            <input name="contactInfoPersonName_{{$index}}" type="text" ng-model="item.personName" id="contactInfoPersonName_{{$index}}" autocomplete="off" class="form-control" placeholder="Nombre persona de contacto" ng-disabled="readonly" required />
          </div>
          <div ng-if="readonly">
            {{item.personName}}
          </div>
        </td>
        <td>
          <div class="form-inline input-group" show-errors ng-if="!readonly">
            <input name="contactInfoPersonPhone_{{$index}}" mask="9999-9999" mask-restrict="reject" autocomplete="off" model-view-value="true" ng-model="item.phoneNumber" id="contactInfoPersonPhone_{{$index}}" class="form-control" ng-disabled="readonly" required />
          </div>
          <div ng-if="readonly">
            {{item.phoneNumber}}
          </div>
        </td>
        <td>
          <div class="form-inline input-group" show-errors ng-if="!readonly">
            <input name="contactInfoPersonAddress_{{$index}}" type="text" ng-model="item.homeAddress" id="contactInfoPersonAddress_{{$index}}" autocomplete="off" class="form-control" placeholder="Dirección persona de contacto" ng-disabled="readonly" required /> 
          </div>
          <div ng-if="readonly">
            {{item.homeAddress}}
          </div>
        </td>
        <td>
          <div class="form-inline input-group" show-errors ng-if="!readonly">
            <select name="contactInfoPersonRelationship_{{$index}}" id="contactInfoPersonRelationship_{{$index}}" ng-model="item.relationship" class="form-control" style="width:auto;" required ng-disabled="readonly">
              <option value="Familiar" selected="selected">Familiar</option>
              <option value="Padre">Padre</option>
              <option value="Madre">Madre</option>
              <option value="Hijo(a)">Hijo(a)</option>
              <option value="Hermano(a)">Hermano(a)</option>
              <option value="Abuelo(a)">Abuelo(a)</option>
              <option value="Esposo(a)">Esposo(a)</option>
              <option value="Pareja">Pareja</option>
              <option value="Amistad">Amistad</option>
              <option value="Otro" >Otro</option>
            </select>  
          </div>
          <div ng-if="readonly">
            {{item.relationship}}
          </div>
        </td>
        <td>
          <a class="form-group btn btn-default" ng-click="removeContact($index)" ng-if="!readonly">
            <i class="glyphicon glyphicon-trash"></i> 
            Eliminar           
          </a>    
        </td>
      </tr>
      </tbody>
    </table>
  </fieldset> 
  <a class="form-group btn btn-secondary" ng-click="addContact()" ng-if="!readonly">
    <i class="glyphicon glyphicon-plus"></i>
    Agregar Persona de Contacto
  </a>  
</div>