<section>
  <div class="page-header">
    <h1>Lista de Personas</h1>
  </div>
  <a class="btn btn-primary" data-ui-sref="people.create">Nueva Persona</a>
  <br /><br />
  <div id="content" data-ng-if="vm.people.length">
    <div class="col-md-3 form-group">
      <div class="dropdown" id="personTypeDropdown" uib-dropdown>
        <label class="control-label" for="personType">Tipo de Persona: </label>
        <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle role="button">
          <span ng-if="!vm.personType">-- Todos --</span>
          {{vm.personType.name}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" ng-if="vm.personTypes">
          <li>
            <a ng-click="vm.setPersonType()">-- Todos --</a>
          </li>
          <li data-ng-repeat="personType in vm.personTypes | orderBy:'name'">
            <a ng-click="vm.setPersonType(personType)">{{personType.name}}</a>
          </li>
        </ul>
      </div> 
    </div>
    <div class="col-md-3 form-group">
      <div class="dropdown" id="serviceAreaDropdown" uib-dropdown>
        <label class="control-label" for="serviceArea">Área de Servicio: </label>
        <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle role="button">
          <span ng-if="!vm.serviceArea">-- Todos --</span>
          {{vm.serviceArea.name}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" ng-if="vm.serviceAreas">
          <li>
            <a ng-click="vm.setServiceArea()">-- Todos --</a>
          </li>
          <li data-ng-repeat="serviceArea in vm.serviceAreas | orderBy:'name'">
            <a ng-click="vm.setServiceArea(serviceArea)">{{serviceArea.name}}</a>
          </li>
        </ul>
      </div> 
    </div>
    <br />
    <input class="form-control" ng-model="vm.searchFilter" placeholder="Buscar..." type="text"/>
    <br />
    <div id="exportable">
      <table class="table table-condensed">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Primer Apellido</th>
          <th>Segundo Apellido</th>
          <th>Tipo de Persona</th>
          <th>Área de Servicio</th>
          <th>Edad</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="person in vm.people | orderBy:['person.firstName', 'person.lastName', 'person.secondLastName'] | filter: vm.searchFilter | filter: vm.personType.name | filter:vm.serviceArea.name">
          <td>{{person.firstName}}</td>
          <td>{{person.lastName}}</td>
          <td>{{person.secondLastName}}</td>
          <td>{{person.personType.name}}</td>
          <td>{{person.serviceArea.name}}</td>
          <td>{{person.age}}</td>
          <td>    
            <a data-ui-sref="people.view({ personId: person._id})">Detalles</a>    
          </td>
        </tr>
        </tbody>
      </table>
    </div>    
    <export-to-file link-text="Exportar" element-id="exportable" format="excel" file-name="PERSONAS"></export-to-file> 
  </div>   
  <div class="alert alert-warning text-center" data-ng-if="vm.people.$resolved && !vm.people.length">
    No hay ninguna persona creada <a data-ui-sref="people.create">Crear una</a>?
  </div>
</section>