<div class="form-group" show-errors>
  <label class="control-label" for="organization">Organización *</label>
  <input name="organization" type="hidden" ng-model="person.organization" id="organization" class="form-control" placeholder="Organización" required>
  <div class="dropdown" id="organizationDropdown" uib-dropdown>
    <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle role="button">
      <span ng-if="!person.organization">-- Seleccione uno --</span>
      {{person.organization.name}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" ng-if="organizations">
      <li data-ng-repeat="organization in organizations | orderBy:'name'">
        <a ng-click="setOrganization(organization)">{{organization.name}}</a>
      </li>
    </ul>
  </div> 
  <div ng-messages="form.organization.$error" role="alert">
    <p class="help-block error-text" ng-message="required">Organización es requerido.</p>
  </div>
</div>
<!-- <div class="form-group" show-errors>
  <label class="control-label" for="contactInfo">Información de Contacto</label>
  <input name="contactInfo" type="text" ng-model="person.contactInfo" id="contactInfo" class="form-control" placeholder="contactInfo" required>
  <div ng-messages="form.contactInfo.$error" role="alert">
    <p class="help-block error-text" ng-message="required">Información de Contacto es requerido.</p>
  </div>
</div> -->
<div class="form-group" show-errors> 
  <label class="control-label" for="maleSex">Sexo *</label>
  <input name="isFemale" type="hidden" ng-model="person.isFemale" id="isFemale" class="form-control" placeholder="Sexo" required> 
  <div class="radio">
    <label>
      <input type="radio" class="radio-inline" ng-click="person.isFemale = false" name="sex" 
      ng-checked="{{person.isFemale === true ? !person.isFemale : true}}">
      <b>Masculino</b>
    </label>
    <label>
      <input type="radio" class="radio-inline" ng-click="person.isFemale = true" name="sex" ng-checked="person.isFemale">
      <b>Femenino</b>
    </label>
  </div>
  <div ng-messages="form.isFemale.$error" role="alert">
    <p class="help-block error-text" ng-message="required">Sexo es requerido.</p>
  </div>
</div>
<div class="form-group" show-errors>
  <label class="control-label" for="personId">Identificación (cedula)</label>
  <input name="personId" type="text" ng-model="person.personId" id="personId" class="form-control" placeholder="Identificación">
</div>
<div class="form-group" show-errors>
  <label class="control-label" for="firstName">Nombre *</label>
  <input name="firstName" type="text" ng-model="person.firstName" id="firstName" class="form-control" placeholder="Nombre" required>
  <div ng-messages="form.firstName.$error" role="alert">
    <p class="help-block error-text" ng-message="required">Nombre es requerido.</p>
  </div>
</div>
<div class="form-group" show-errors>
  <label class="control-label" for="lastName">Primer Apellido *</label>
  <input name="lastName" type="text" ng-model="person.lastName" id="lastName" class="form-control" placeholder="Primer Apellido" required>
  <div ng-messages="form.lastName.$error" role="alert">
    <p class="help-block error-text" ng-message="required">Primer Apellido es requerido.</p>
  </div>
</div>
 <div class="form-group" show-errors>
  <label class="control-label" for="secondLastName">Segundo Apellido *</label>
  <input name="secondLastName" type="text" ng-model="person.secondLastName" id="secondLastName" class="form-control" placeholder="Segundo Apellido" required>
  <div ng-messages="form.secondLastName.$error" role="alert">
    <p class="help-block error-text" ng-message="required">Segundo Apellido es requerido.</p>
  </div>
</div>
<div class="form-group" show-errors>
  <label class="control-label" for="email">Email</label>
  <input name="email" type="text" ng-model="person.email" id="email" class="form-control" placeholder="Email">
</div>
<div class="form-group" show-errors>
  <label class="control-label" for="mobilePhone">Teléfono celular</label>
  <input name="mobilePhone" ui-mask="9999-9999" ng-model="person.mobilePhone" id="mobilePhone" class="form-control">
</div>
<div class="form-group" show-errors>
  <label class="control-label" for="homePhone">Teléfono casa</label>
  <input name="homePhone" ng-model="person.homePhone" ui-mask="9999-9999"  id="homePhone" class="form-control" >
</div>
<div class="form-group" show-errors>
  <label class="control-label" for="otherPhone">Teléfono (otro)</label>
  <input name="otherPhone" ui-mask="9999-9999" ng-model="person.otherPhone" id="otherPhone" class="form-control">
</div>
<div class="form-group" show-errors>
  <label class="control-label" for="address">Dirección *</label>
  <input name="address" type="text" ng-model="person.address" id="address" class="form-control" placeholder="Dirección" required>
  <div ng-messages="form.address.$error" role="alert">
    <p class="help-block error-text" ng-message="required">Dirección es requerido.</p>
  </div>
</div>
<div class="form-group" show-errors>
  <label class="control-label" for="personType">Tipo de Persona *</label>
  <input name="personType" type="hidden" ng-model="person.personType" id="personType" class="form-control" placeholder="Tipo de Persona" required>
  <div class="dropdown" id="personTypeDropdown" uib-dropdown>
    <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle role="button">
      <span ng-if="!person.personType">-- Seleccione uno --</span>
      {{person.personType.name}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="personType in personTypes">
        <a ng-click="setPersonType(personType)">{{personType.name}}</a>
      </li>
    </ul>
  </div>          
  <div ng-messages="form.personType.$error" role="alert">
    <p class="help-block error-text" ng-message="required">Tipo de Persona es requerido</p>
  </div>
</div>
<div class="form-group">
  <label class="control-label" for="organization">Área de Servicio</label>
  <div class="select2-bootstrap-append">
    <ui-select multiple ng-model="person.serviceArea">
      <ui-select-match  placeholder="Seleccione a las que pertenece...">
            <span>{{$item.name}}</span>
        </ui-select-match>
        <ui-select-choices repeat="item in (serviceAreas | filter: $select.search | filter:filterAlreadyAdded) track by item._id">
            <div ng-bind-html="item.name | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select> 
  </div>  
</div>
<div class="form-group" show-errors>
  <label class="control-label" for="birthDate">Fecha de Nacimiento</label>
  <br />
  <input name="birthDate" type="hidden" ng-model="person.birthDate" id="birthDate" class="form-control" ng-required="false">
  <datetimepicker
    date-options="dateOptions"
    readonly-date="true"
    ng-model="person.birthDate" 
    hidden-time="true" 
    date-format="dd-MMM-yyyy" 
    current-text="Hoy"
    clear-text="Limpiar"
    close-text="Cerrar" />    
</div>
<div class="form-group" show-errors>
  <label class="control-label" for="age">Edad *</label>
  <input name="age" type="number" ng-model="person.age" id="age" class="form-control" placeholder="Edad" ng-disabled="person.birthDate" required>
  <div ng-messages="form.age.$error" role="alert">
    <p class="help-block error-text" ng-message="required">Edad es requerido.</p>
  </div>
</div>
<div class="form-group" show-errors>
  <label class="control-label" for="maritalStatus">Estado Civil *</label>
  <input name="maritalStatus" type="hidden" ng-model="person.maritalStatus" id="maritalStatus" class="form-control" placeholder="Estado Civil" required>
  <div class="dropdown" id="maritalStatusDropdown" uib-dropdown>
    <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle role="button">
      <span ng-if="!person.maritalStatus">-- Seleccione uno --</span>
      {{person.maritalStatus}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="maritalStatus in maritalStatuses">
        <a ng-click="setMaritalStatus(maritalStatus)">{{maritalStatus}}</a>
      </li>
    </ul>
  </div> 
  <div ng-messages="form.maritalStatus.$error" role="alert">
    <p class="help-block error-text" ng-message="required">Estado Civil es requerido.</p>
  </div>
</div>
<div class="form-group" show-errors>
  <label class="control-label" for="grade">Educación</label>
  <input name="grade" type="hidden" ng-model="person.grade" id="grade" class="form-control" placeholder="Educación">
  <div class="dropdown" id="gradeDropdown" uib-dropdown>
    <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle role="button">
      <span ng-if="!person.grade">-- Seleccione uno --</span>
      {{person.grade}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="grade in grades">
        <a ng-click="setGrade(grade)">{{grade}}</a>
      </li>
    </ul>
  </div> 
</div>
<div class="form-group" show-errors>
  <label class="control-label" for="occupation">Profesión</label>
  <input name="occupation" type="text" ng-model="person.occupation" id="occupation" class="form-control" placeholder="occupation">
</div>
<div class="form-group" show-errors>
  <label class="control-label" for="employer">Empleador (Empresa donde labora)</label>
  <input name="employer" type="text" ng-model="person.employer" id="employer" class="form-control" placeholder="Empleador">
</div>
<div class="form-group" show-errors>
  <label class="control-label" for="shirtSize">Talla de camiseta *</label>
  <input name="shirtSize" type="hidden" ng-model="person.shirtSize" id="shirtSize" class="form-control" placeholder="Talla de camiseta" required>
  <div class="dropdown" id="shirtSizeDropdown" uib-dropdown>
    <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle role="button">
      <span ng-if="!person.shirtSize">-- Seleccione uno --</span>
      {{person.shirtSize}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="shirtSize in shirtSizes">
        <a ng-click="setShirtSize(shirtSize)">{{shirtSize}}</a>
      </li>
    </ul>
  </div> 
  <div ng-messages="form.shirtSize.$error" role="alert">
    <p class="help-block error-text" ng-message="required">Talla de camiseta es requerido.</p>
  </div>
</div>
<div class="form-group" show-errors>  
  <input name="activeMember" type="hidden" ng-model="person.activeMember" id="activeMember" class="form-control">
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="person.activeMember">
      <b>Miembro activo</b>
    </label>
  </div>
</div>
<div ng-show="person.activeMember" class="form-group" show-errors>
  <label class="control-label" for="memberTimeYears">Tiempo de asistir (años)</label>
  <input name="memberTimeYears" type="Number" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" ng-model="person.memberTimeYears" id="memberTimeYears" class="form-control" placeholder="Años de asistir">
</div>
<div class="form-group" show-errors>  
  <input name="medicalTreatment" type="hidden" ng-model="person.medicalTreatment.exists" id="medicalTreatment" class="form-control">
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="person.medicalTreatment.exists">
      <b>Tratamiento medico</b>
    </label>
  </div>
</div>
<div ng-show="person.medicalTreatment.exists">
  <div class="form-group" show-errors>
    <label class="control-label" for="medicalTreatment">Comentarios del tratamiento medico</label>
    <input name="medicalTreatment" type="text" ng-model="person.medicalTreatment.comments" id="medicalTreatment" class="form-control" placeholder="Comentarios del tratamiento medico" />
  </div>
  <div class="form-group" show-errors>
    <label class="control-label" for="medicineType">Tipo de medicina</label>
    <input name="medicineType" type="text" ng-model="person.medicalTreatment.medicineType" id="medicineType" class="form-control" placeholder="Tipo de medicina">
  </div>
  <div class="form-group" show-errors>
    <label class="control-label" for="allergies">Alergias</label>
    <input name="allergies" type="text" ng-model="person.medicalTreatment.allergies" id="allergies" class="form-control" placeholder="Alergias">
  </div>
</div>
        
      
