<section>
  <div class="page-header">
    <h1></h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat=" in vm."
       data-ui-sref=".view({ Id: ._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind=".created | date:'mediumDate'"></span>
        by
        <span data-ng-if=".user" data-ng-bind=".user.displayName"></span>
        <span data-ng-if="!.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind=".name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm..$resolved && !vm..length">
    No  yet, why don't you <a data-ui-sref=".create">create one</a>?
  </div>
</section>
