<section class="container">
  <div class="page-header">
    <h1>{{vm.event._id ? 'Editar Evento' : 'Nuevo Evento'}}</h1>
  </div>
  <div class="pull-left">
     <a class="btn btn-secondary" data-ui-sref="events.list()">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Regresar
    </a>
  </div>
  <br /><br />
  <div class="col-md-12">
    <form name="vm.form.eventForm" class="form-horizontal" ng-submit="vm.save(vm.form.eventForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>        
          <label class="control-label" for="organization">Organización *</label>  
          <input name="organization" type="hidden" ng-model="vm.event.organization" id="organization" class="form-control" required>
          <div class="input-group select2-bootstrap-append">
            <ui-select ng-model="vm.event.organization">
              <ui-select-match  placeholder="Seleccione la organización...">
                    <span>{{$select.selected.name}}</span>
                </ui-select-match>
                <ui-select-choices repeat="item in (vm.organizations | filter: $select.search) track by item._id">
                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select> 
            <span class="input-group-btn">
              <button type="button" ng-click="vm.event.organization = undefined" class="btn btn-default">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </span>  
          </div> 
          <div ng-messages="vm.form.eventForm.organization.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Organización es requerido.</p>
          </div>
        </div> 
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Nombre *</label>
          <input name="name" type="text" ng-model="vm.event.name" id="name" class="form-control" placeholder="Nombre" required>
          <div ng-messages="vm.form.eventForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Nombre es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="description">Descripción</label>
          <input name="description" type="text" ng-model="vm.event.description" id="description" class="form-control" placeholder="Descripción">
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="startDate">Fecha de inicio *</label>
          <br />
          <input name="startDate" type="hidden" ng-model="vm.event.startDate" id="startDate" class="form-control" required>
          <datetimepicker 
            ng-model="vm.event.startDate" 
            hidden-time="true" 
            date-format="{{vm.format}}" 
            date-options="vm.dateOptions"
            current-text="Hoy"
            clear-text="Limpiar"
            close-text="Cerrar" />           
          <div ng-messages="vm.form.eventForm.startDate.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Fecha de inicio es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="endDate">Fecha final *</label>
          <br />
          <input name="endDate" type="hidden" ng-model="vm.event.endDate" id="endDate" class="form-control" required>
          <datetimepicker 
            ng-model="vm.event.endDate" 
            hidden-time="true" 
            date-format="{{vm.format}}" 
            date-options="vm.dateOptions"
            current-text="Hoy"
            clear-text="Limpiar"
            close-text="Cerrar">
          <div ng-messages="vm.form.eventForm.endDate.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Fecha final es requerido.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="checkbox-inline">
            <input type="checkbox"  name="ended" type="checkbox" ng-model="vm.event.ended"/> 
            <strong>Evento Finalizado</strong>
          </label>
        </div>
        <div class="form-group">
          <label class="checkbox-inline">
            <input type="checkbox"  name="openEnrollment" type="checkbox" ng-model="vm.event.openEnrollment"/> 
            <strong>Cupo Disponible</strong>
          </label>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="price">Precio del evento (general) *</label>
          <div class="input-group"> 
            <span class="input-group-addon">₡</span>
            <input name="price" type="number" ng-model="vm.event.price" id="price" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" placeholder="Precio del evento" required>
          </div>
          <div ng-messages="vm.form.eventForm.price.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Precio del evento es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="serverPrice">Precio del evento (para servidores) *</label>
          <div class="input-group"> 
            <span class="input-group-addon">₡</span>
            <input name="serverPrice" type="number" ng-model="vm.event.serverPrice" id="serverPrice" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" placeholder="Precio del evento (para servidores)">
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="shirtPrice">Precio de camisa (por persona)</label>
          <div class="input-group"> 
            <span class="input-group-addon">₡</span>
            <input name="shirtPrice" type="number" ng-model="vm.event.shirtPrice" id="shirtPrice" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" placeholder="Precio de camisa">
          </div>
        </div>

        <shirt-types shirt-types="vm.event.shirtTypes" form="vm.form.eventForm"></shirt-types>
        <br/><br/>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">{{vm.event._id ? 'Actualizar' : 'Crear'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>       
        <br/><br/>
      </fieldset>
    </form>
  </div>
</section>
