<section>
  <div class="page-header">
    <h1>Lista de Eventos</h1>
  </div>
  <a class="btn btn-primary" data-ui-sref="events.create">Nuevo Evento</a>
  <br/><br/>
  <div class="list-group">
    <a data-ng-repeat="event in vm.events"
       data-ui-sref="events.view({ eventId: event._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Creado en
        <span data-ng-bind="event.created | date:'mediumDate'"></span>
        por
        <span data-ng-if="event.user" data-ng-bind="event.user.displayName"></span>
        <span data-ng-if="!event.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="event.name"></h4>      
      <p class="list-group-item-text" ng-bind="event.description"></p> 
      <p class="list-group-item-text" ng-bind="event.startDate"></p>   
      <p class="list-group-item-text" ng-bind="event.endDate"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.events.$resolved && !vm.events.length">
    No hay ningún evento creado <a data-ui-sref="events.create">Crear uno</a>?
  </div>
</section>
