<section class="container">
  <div class="page-header">
    <h1>Usuario: <span ng-bind="vm.user.username"></span></h1>
    <div class="pull-left">
      <a class="btn btn-secondary" data-ui-sref="admin.user({userId: vm.user._id})">
        <i class="glyphicon glyphicon-arrow-left"></i>
        Regresar
      </a>
    </div>
    <br /><br />
  </div>
  <div class="col-md-12">
    <form name="vm.passwordForm" ng-submit="vm.changeUserPassword(vm.passwordForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="newPassword">Nueva contraseña</label>
          <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="vm.passwordDetails.newPassword" placeholder="Nueva contraseña" uib-popover="{{vm.getPopoverMsg()}}" uib-popover-trigger="focus" password-validator required>
          <div ng-messages="vm.passwordForm.newPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Nueva contraseña es requerida</p>
            <div ng-repeat="passwordError in passwordErrors">
              <p class="help-block error-text" ng-show="vm.passwordForm.newPassword.$error.requirements">{{passwordError}}</p>
            </div>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="verifyPassword">Verificar contraseña</label>
          <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-model="vm.passwordDetails.verifyPassword" placeholder="Verificar contraseña" password-verify="vm.passwordDetails.newPassword" required>
          <div ng-messages="vm.passwordForm.verifyPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Verify your new password.</p>
            <p class="help-block error-text" ng-show="vm.passwordForm.verifyPassword.$error.passwordVerify">Las contraseñas no coinciden.</p>
          </div>
        </div>
        <div class="form-group" ng-show="!vm.passwordForm.newPassword.$error.required">
          <label>Password Requirements</label>
          <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
        </div>
        <br />
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
