<section class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-md-12">
        <h1>Usuario: {{vm.user.username}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="pull-left col-md-2">
        <a class="btn btn-secondary" data-ui-sref="admin.users">
          <i class="glyphicon glyphicon-arrow-left"></i>
          Regresar
        </a>
      </div>
      <div class="pull-right col-md-5">
        <a class="btn btn-primary" ui-sref="admin.user-edit({userId: vm.user._id})">
          <i class="glyphicon glyphicon-edit"> Editar</i>
        </a>      
        <a class="btn btn-default" ng-show="vm.user.provider === 'local'" ui-sref="admin.user-password({userId: vm.user._id})">
          <i class="glyphicon glyphicon-edit"></i> Cambiar Contraseña
        </a>
        <a class="btn btn-danger" ng-click="vm.remove()" ng-if="vm.user.username !== vm.authentication.user.username && !vm.isContextUserSelf()">
          <i class="glyphicon glyphicon-trash"> Eliminar</i>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><strong>Nombre</strong></div>
        <div class="col-md-6" ng-bind="vm.user.firstName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Apellidos</strong></div>
        <div class="col-md-6" ng-bind="vm.user.lastName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Email</strong></div>
        <div class="col-md-6" ng-bind="vm.user.email"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Proveedor de autenticación</strong></div>
        <div class="col-md-6" ng-bind="vm.user.provider"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Creado en</strong></div>
        <div class="col-md-6" ng-bind="vm.user.created | date:'mediumDate'"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Roles</strong></div>
        <div class="col-md-6">{{vm.parseRoles(vm.user.roles)}}</div>
      </div>
    </div>
  </div>
</section>
