<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.eventpeoplegroup.name"></h1>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary" data-ui-sref="eventpeoplegroups.edit({ eventpeoplegroupId: vm.eventpeoplegroup._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a data-ng-show="vm.eventpeoplegroup.isCurrentUserOwner" class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Creado en
      <span data-ng-bind="vm.eventpeoplegroup.created | date:'mediumDate'"></span>
      por
      <span data-ng-if="vm.eventpeoplegroup.user"
            data-ng-bind="vm.eventpeoplegroup.user.displayName"></span>
      <span data-ng-if="!vm.eventpeoplegroup.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.eventpeoplegroup.content"></p>
  <p class="lead" data-ng-if="!vm.eventpeoplegroup.description.length"> No hay descripción para este tipo de persona</p>
</section>
<div class="pull-left">
   <a class="btn btn-secondary" data-ui-sref="eventpeoplegroups.list()">
    <i class="glyphicon glyphicon-arrow-left"></i>
    Regresar
  </a>
</div>