<div class="container">
  <div ng-if="vm.error">
    <br />
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" ng-click='vm.error = undefined'>&times;</a>
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <strong class="text-danger">Error:</strong>
      <span ng-bind-html="vm.error"></span>
    </div>
  </div>
  <div ng-if="vm.warning">
    <br />
    <div class="alert alert-warning" role="alert">
      <a href="#" class="close" data-dismiss="alert" ng-click='vm.warning = undefined'>&times;</a>
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <strong class="text-warning">Alerta:</strong>
      <span ng-bind-html="vm.warning"></span>
    </div>
  </div>
  <section>
    <div class="page-header">
      <h1>{{vm.moneycollection._id ? 'Editar Diezmo/Ofrenda' : 'Nuevo Diezmo/Ofrenda'}} </h1>

      <h2 ng-if="vm.moneycollection._id"># de Diezmos/Ofrendas: {{vm.moneycollection.number}}</h2>
        <small ng-if="vm.moneycollection._id">
          <em class="text-muted">
            Creado en
            <span data-ng-bind="vm.moneycollection.created | date:'mediumDate'"></span>
            Por
            <span data-ng-if="vm.moneycollection.user"
                  data-ng-bind="vm.moneycollection.user.displayName"></span>
            <span data-ng-if="!vm.moneycollection.user">Deleted User</span>
          </em>
        </small>
    </div>  
    <div class="pull-left">
       <a class="btn btn-secondary"
         data-ui-sref="moneycollections.list()">
        <i class="glyphicon glyphicon-arrow-left"></i>
        Regresar
      </a>
    </div>
    <br /><br />
    <h3 class="bg-primary">Los campos marcados con asterisco (*) son requeridos.</h3> 
    <div class="col-md-12">
      <form name="vm.form.moneycollectionForm" class="form-horizontal" ng-submit="vm.save(vm.form.moneycollectionForm.$valid)" novalidate>
        <fieldset>              
          <div class="form-group">
            <button type="submit" class="btn btn-primary">{{vm.moneycollection._id ? 'Actualizar' : 'Crear'}}</button>
          </div>          
          <br />

          <money-flow flows="vm.moneycollection.moneyFlows" show-labels="true" form="vm.form.moneycollectionForm"></money-flow>

          <div ng-if="vm.moneycollection.isDetailed">
            <div class="form-group" show-errors ng-if="!readonly">
              <label class="control-label" ng-if="showLabels" for="numberOf500">Total</label>
              <div class="form-inline">
                <div class="input-group"> 
                  <span class="input-group-addon">₡</span>
                  <input type="number" name="numberOf500" type="number" ng-model="item.numberOf500" autocomplete="off" id="numberOf500" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" placeholder="Monedas de  {{500 | currency: '₡'}}" required>
                </div> 
                <b>Total:</b> {{calculateNumberOfTotal(item.numberOf500, 500) | currency: '₡'}}
              </div>    
              <div ng-messages="form.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Monedas de {{500 | currency: '₡'}} es requerido.</p>
              </div>
            </div>
          </div>
          <br />
          <div class="form-group">
            <button type="submit" class="btn btn-primary">{{vm.moneycollection._id ? 'Actualizar' : 'Crear'}}</button>
          </div>
        </fieldset>
      </form>
      <br /><br />
    </div>
  </section>
</div>
        
