<div ng-if="vm.error">
  <br />
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" ng-click='vm.error = undefined'>&times;</a>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <strong class="text-danger">Error:</strong>
    <span>{{vm.error}}</span>
  </div>
</div>
<div ng-if="vm.warning">
  <br />
  <div class="alert alert-warning" role="alert">
    <a href="#" class="close" data-dismiss="alert" ng-click='vm.warning = undefined'>&times;</a>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <strong class="text-warning">Alerta:</strong>
    <span>{{vm.warning}}</span>
  </div>
</div>
<section>
  <div class="page-header">
    <h2>Lista de flujos de dinero </h2>
  </div>
  <a class="btn btn-primary" ng-if="vm.authentication.isUserAdmin() || vm.authentication.isBoardDirectorUser()" data-ui-sref="moneycollections.create">Nuevo flujo de dinero</a>
  <br /><br />
  <div id="content" data-ng-if="vm.moneycollections.length">    
    <button class="btn btn-warning pull-right" ng-disabled="!vm.tableParams.hasFilter()" ng-click="vm.tableParams.filter({});vm.initRegistrationDate = undefined;">Borrar Filtros de Búsqueda</button>
    <div id="exportable">        
      <table ng-table="vm.tableParams" class="table table-hover table-condensed editable-table" show-filter="true" ng-table-columns-binding="vm.cols" export-csv='csv' ng-form="vm.tableForm" disable-filter="vm.isAdding" demo-tracked-table="vm.tableTracker" >
        <tbody>
          <tr ng-repeat="moneyCollection in $data" ng-form="rowForm" demo-tracked-table-row="moneyCollection">
            <td title="'Nombre'" filter="{ 'name': 'text'}" sortable="'name'" ng-if="true"> 
              <a data-ui-sref="moneycollections.view({ moneycollectionId: moneyCollection._id})" data-toggle="tooltip" title="Editar flujo: {{moneyCollection.name}}">{{moneyCollection.name}}</a>
            </td>
            <td title="'Fecha de registro'" filter="{ 'date': 'text'}" sortable="'date'" ng-if="true">            
              {{moneyCollection.date | date:'dd-MM-yyyy'}}
            </td>
            <td  class="col-md-1" title="'Diezmos ₡'" filter="{ 'summary.totalDiezmos': 'number'}" sortable="'totalDiezmos'" ng-if="true">
                {{moneyCollection.summary.totalDiezmos | currency:''}}
            </td> 
            <td  class="col-md-1" title="'Ofrendas ₡'" filter="{ 'summary.totalOfrendas': 'number'}" sortable="'totalOfrendas'" ng-if="true">
                {{moneyCollection.summary.totalOfrendas | currency:''}}
            </td> 
            <td  class="col-md-1" title="'Grupos Vida ₡'" filter="{ 'summary.totalGruposVida': 'number'}" sortable="'totalGruposVida'" ng-if="true">
                {{moneyCollection.summary.totalGruposVida | currency:''}}
            </td> 
            <td  class="col-md-1" title="'Dicipulados ₡'" filter="{ 'summary.totalDicipulados': 'number'}" sortable="'totalDicipulados'" ng-if="true">
                {{moneyCollection.summary.totalDicipulados | currency:''}}
            </td> 
            <td  class="col-md-1" title="'Sodas ₡'" filter="{ 'summary.totalSodas': 'number'}" sortable="'totalSodas'" ng-if="true">
                {{moneyCollection.summary.totalSodas | currency:''}}
            </td> 
            <td  class="col-md-1" title="'Otros ₡'" filter="{ 'summary.totalOtros': 'number'}" sortable="'totalOtros'" ng-if="true">
                {{moneyCollection.summary.totalOtros | currency:''}}
            </td> 
            <td  class="col-md-1" title="'Egresos ₡'" filter="{ 'summary.totalEgresos': 'number'}" sortable="'totalEgresos'" ng-if="true">
                {{moneyCollection.summary.totalEgresos | currency:''}}
            </td> 
            <td  class="col-md-1" title="'Ingresos ₡'" filter="{ 'total': 'number'}" sortable="'total'" ng-if="true">
                {{moneyCollection.total | currency:''}}
            </td> 
          </tr>
        </tbody>
        <tfoot>
          <tr>          
            <td ng-if="vm.cols[0].show()"></td>  
            <td ng-if="vm.cols[1].show()"></td>  
            <td ng-if="vm.cols[2].show()">              
              <span><b>Ingresos:</b> {{vm.sumSummaryTotals($data, "totalDiezmos") | currency:''}}</span>
              <p><b>Egresos:</b> {{vm.sumSummaryTotals($data, "totalDiezmosEgresos") | currency:''}}</p>
            </td>  
            <td ng-if="vm.cols[3].show()">
              <span><b>Ingresos:</b> {{vm.sumSummaryTotals($data, "totalOfrendas") | currency:''}}</span>
              <p><b>Egresos:</b> {{vm.sumSummaryTotals($data, "totalOfrendasEgresos") | currency:''}}</p>
            </td>  
            <td ng-if="vm.cols[4].show()">
              <p><b>Ingresos:</b> {{vm.sumSummaryTotals($data, "totalGruposVida") | currency:''}}</p>
              <p><b>Reintegros:</b> {{vm.sumSummaryTotals($data, "totalGruposVidaEgresos") | currency:''}}</p>
            </td>  
            <td ng-if="vm.cols[5].show()">
              <span><b>Ingresos:</b> {{vm.sumSummaryTotals($data, "totalDicipulados") | currency:''}}</span>
              <p><b>Egresos:</b> {{vm.sumSummaryTotals($data, "totalDicipuladosEgresos") | currency:''}}</p>
            </td>  
            <td ng-if="vm.cols[6].show()">
              <span><b>Ingresos:</b> {{vm.sumSummaryTotals($data, "totalSodas") | currency:''}}</span>
              <p><b>Egresos:</b> {{vm.sumSummaryTotals($data, "totalSodasEgresos") | currency:''}}</p>
            </td>  
            <td ng-if="vm.cols[7].show()">
              <span><b>Ingresos:</b> {{vm.sumSummaryTotals($data, "totalOtros") | currency:''}}</span>
              <p><b>Egresos:</b> {{vm.sumSummaryTotals($data, "totalOtrosEgresos") | currency:''}}</p>
            </td> 
            <td ng-if="vm.cols[8].show()">
              <span><b>Total:</b> {{vm.sumSummaryTotals($data, "totalEgresos") | currency:'₡'}}</span>
            </td> 
            <td ng-if="vm.cols[9].show()">
              <span><b>Total:</b> {{$data | sumByKey:'total' | currency:'₡'}}</span>
            </td>
          </tr>
          <tr>          
            <td ng-if="vm.cols[0].show()"></td>  
            <td ng-if="vm.cols[1].show()"></td>  
            <td ng-if="vm.cols[2].show()"></td>  
            <td ng-if="vm.cols[3].show()"></td>  
            <td ng-if="vm.cols[4].show()"></td>  
            <td ng-if="vm.cols[5].show()"></td>  
            <td ng-if="vm.cols[6].show()"></td>  
            <td ng-if="vm.cols[7].show()"></td> 
            <td ng-if="vm.cols[8].show()" ng-class="vm.getTotalClass(($data | sumByKey:'total') - vm.sumSummaryTotals($data, 'totalEgresos'))">
                <b>Balance:</b> {{($data | sumByKey:'total') - vm.sumSummaryTotals($data, 'totalEgresos') | currency:'₡'}}
            </td>
            <td>
              <div class="text-right">
              <a class="btn" title="Export Table" ng-click='csv.generate()' ng-href="{{ csv.link() }}"
                 download="Flujos de dinero.csv">
                <i class="glyphicon glyphicon-new-window"></i> &#160;Exportar
              </a> 
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>    
  </div>   
  <div class="alert alert-warning text-center" data-ng-if="vm.moneycollections.$resolved && !vm.moneycollections.length">
    No hay flujos de dinero (Diezmos/Ofrendas) Porqué no <a data-ui-sref="moneycollections.create">creas uno</a>?
  </div>
</section>
