<div ng-if="vm.error">
  <br />
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" ng-click='vm.error = undefined'>&times;</a>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <strong class="text-danger">Error:</strong>
    <span>{{vm.error}}</span>
  </div>
</div>
<div ng-if="vm.warning">
  <br />
  <div class="alert alert-warning" role="alert">
    <a href="#" class="close" data-dismiss="alert" ng-click='vm.warning = undefined'>&times;</a>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <strong class="text-warning">Alerta:</strong>
    <span>{{vm.warning}}</span>
  </div>
</div>
<section>
  <div class="page-header">
    <h2>Lista de flujos de dinero</h2>
  </div>
  <a class="btn btn-primary" data-ui-sref="moneycollections.create">Nuevo flujo de dinero</a>
  <br /><br />
  <div id="content" data-ng-if="vm.moneycollections.length">    
    <button class="btn btn-warning pull-right" ng-disabled="!vm.tableParams.hasFilter()" ng-click="vm.tableParams.filter({});vm.registrationDate = undefined;">Borrar Filtros de Búsqueda</button>
    <div id="exportable">        
      <table ng-table="vm.tableParams" class="table table-hover table-condensed editable-table" show-filter="true" ng-table-columns-binding="vm.cols" export-csv='csv' ng-form="vm.tableForm" disable-filter="vm.isAdding" demo-tracked-table="vm.tableTracker" >
        <tbody>
          <tr ng-class="vm.getStatusClass(moneyCollection)" ng-repeat="moneyCollection in $data" ng-form="rowForm" demo-tracked-table-row="moneyCollection">
            <td class="col-md-1" title="'#'" filter="{ 'number': 'number'}" sortable="'number'" ng-if="true">
                <a data-ui-sref="moneycollections.edit({ moneycollectionId: moneyCollection._id})" data-toggle="tooltip" title="Editar inscripción #{{moneyCollection.number}}">{{moneyCollection.number}}</a></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>          
            <td ng-if="vm.cols[0].show()"></td>  
            <td ng-if="vm.cols[9].show()" ng-class="vm.getTotalClass($data | sumByKey:'total')">
              <span><b>Total:</b> {{$data | sumByKey:'total'  | currency:'₡'}}</span>
            </td>
            <td ng-if="true" class="text-center">            
              <span><b>Inscripciones:</b> {{($data).length}}</span>
            </td>
            <td>
              <div class="text-right">
              <a class="btn" title="Export Table" ng-click='csv.generate()' ng-href="{{ csv.link() }}"
                 download="INSCRIPCIONES.csv">
                <i class="glyphicon glyphicon-new-window"></i> &#160;Exportar
              </a> 
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>    
  </div>   
  <div class="alert alert-warning text-center" data-ng-if="vm.moneycollections.$resolved && !vm.moneycollections.length">
    No hy Diezmos/Ofrendas Porqué no <a data-ui-sref="moneycollections.create">creas uno</a>?
  </div>
</section>
