<div>        
  <fieldset class="fieldset"> 
    <legend ng-if="!report">Flujos de dinero</legend>   
    
    <uib-accordion close-others="oneAtATime">
    <div ng-repeat="item in flows track by $index">         
        <div uib-accordion-group class="panel-default" is-open="item.open">
          <uib-accordion-heading>
              <b># {{$index+1}} {{item.type}}</b> / {{item.description}} / {{item.date | date: 'dd-MMM-yyyy'}} / <b>TOTAL: {{item.total | currency: '₡'}}</b><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': item.open, 'glyphicon-chevron-right': !item.open}"></i>
          </uib-accordion-heading>
          <div ng-if="!readonly" class="col-md-12">
              
              <dropdowncontrol model="item.type" collection="types" required="true" labelvalue="Tipo de flujo" fieldname="flowType_{{$index}}" form="form" simple="true" show-labels="showLabels"></dropdowncontrol>     
          </div>
          <div ng-if="readonly">
                  {{item.type}}
          </div> 
          <div class="form-group-sm row col-md-12">
            <label class="control-label" for="description" ng-if="isDescriptionVivible(item)">Descripción</label>
            <input type="text" name="description_{{$index}}" ng-if="isDescriptionVivible(item)" ng-disabled="onFlowDescriptionDisabled(item)"  ng-model="item.description" class="form-control" autocomplete="off" id="description_{{$index}}" placeholder="Descripción">
            <dropdowncontrol class="col-md-12" model="item.description" collection="gruposVida" required="true" labelvalue="Nombre del Grupo vida" fieldname="flowDescriptionGrupoVida_{{$index}}" form="form" simple="true" show-labels="true" ng-if="item.type === 'Grupo vida' && !item.isExpense"></dropdowncontrol>     
          </div>
          <div ng-if="readonly">
            {{item.description}}
          </div> 
          <div class="form-group-sm row col-md-12">
            <label class="control-label" for="comments">Observaciones</label>
            <textarea name="comments_{{$index}}" ng-model="item.comments" class="form-control" autocomplete="off" id="comments_{{$index}}" placeholder="Observaciones"> </textarea>
          </div>
          <div ng-if="readonly">
            {{item.description}}
          </div> 
          <br>
          <div class="row col-md-12"></div>
          <div class="form-group form-group-sm row row col-md-12" show-errors>
            <label class="control-label" for="date_{{$index}}">Fecha *</label>
            <input name="date_{{$index}}" type="hidden" ng-model="item.date" id="date_{{$index}}" class="form-control" ng-required="true">
            <datetimepicker 
                ng-model="item.date" 
                hidden-time="true" 
                date-format="dd-MMM-yyyy" 
                current-text="Hoy"
                clear-text="Limpiar"
                close-text="Cerrar"></datetimepicker>          
            <div ng-messages="form.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Fecha de flujo es requerido.</p>
            </div>
          </div>
          
          <div class="col-md-12">   
            <div class="col-md-12 form-group-sm">
              <label class="checkbox"><input type="checkbox" ng-click="checkIsExpense($index)" ng-model="item.isExpense">Salida de dinero (egreso)</label>
            </div>
          </div>
          <div class="col-md-12">   
            <div class="col-md-12 form-group-sm">
              <label class="checkbox"><input type="checkbox" ng-click="checkIsDetailed($index)" ng-model="item.isDetailed">Flujo detallado</label>
            </div>
          </div>
          <div ng-if="item.isDetailed && flows.length">
            <div id="flowCoins_{{$index}}" class="col-md-5">
              <br />
              <legend ng-if="!report">Monedas</legend> 
              <div class="form-group-sm" show-errors ng-if="!readonly">
                <label class="control-label" ng-if="showLabels" for="numberOf500">Monedas de {{500 | currency: '₡'}}</label>
                <div class="form-inline">
                  <div class="input-group"> 
                    <span class="input-group-addon">₡</span>
                    <input type="number" name="numberOf500_{{$index}}" onwheel="return false;" type="number" ng-model="item.coins.numberOf500" autocomplete="off" id="numberOf500_{{$index}}" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" placeholder="Monedas de  {{500 | currency: '₡'}}" required>
                  </div> 
                  <b>Total:</b> {{calculateNumberOfTotal(item.coins.numberOf500, 500) | currency: '₡'}}
                </div>    
                <div ng-messages="form.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Monedas de {{500 | currency: '₡'}} es requerido.</p>
                </div>
              </div>
              <div ng-if="readonly">
                {{item.numberOf500}}
              </div>

              <div class="form-group-sm" show-errors ng-if="!readonly">
                <label class="control-label" ng-if="showLabels" for="numberOf100">Monedas de {{100 | currency: '₡'}}</label>
                <div class="form-inline">
                  <div class="input-group"> 
                    <span class="input-group-addon">₡</span>
                    <input type="number" name="numberOf100_{{$index}}" onwheel="return false;" type="number" ng-model="item.coins.numberOf100" autocomplete="off" id="numberOf100_{{$index}}" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" placeholder="Monedas de  {{100 | currency: '₡'}}" required>
                  </div> 
                  <b>Total:</b> {{calculateNumberOfTotal(item.coins.numberOf100, 100) | currency: '₡'}}
                </div>    
                <div ng-messages="form.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Monedas de {{100 | currency: '₡'}} es requerido.</p>
                </div>
              </div>
              <div ng-if="readonly">
                {{item.coins.numberOf100}}
              </div>

              <div class="form-group-sm" show-errors ng-if="!readonly">
                <label class="control-label" ng-if="showLabels" for="numberOf50">Monedas de {{50 | currency: '₡'}}</label>
                <div class="form-inline">
                  <div class="input-group"> 
                    <span class="input-group-addon">₡</span>
                    <input type="number" name="numberOf50_{{$index}}" onwheel="return false;" type="number" ng-model="item.coins.numberOf50" autocomplete="off" id="numberOf50_{{$index}}" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" placeholder="Monedas de  {{50 | currency: '₡'}}" required>
                  </div> 
                  <b>Total:</b> {{calculateNumberOfTotal(item.coins.numberOf50, 50) | currency: '₡'}}
                </div>    
                <div ng-messages="form.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Monedas de {{50 | currency: '₡'}} es requerido.</p>
                </div>
              </div>
              <div ng-if="readonly">
                {{item.coins.numberOf50}}
              </div>

              <div class="form-group-sm" show-errors ng-if="!readonly">
                <label class="control-label" ng-if="showLabels" for="numberOf25">Monedas de {{25 | currency: '₡'}}</label>
                <div class="form-inline">
                  <div class="input-group"> 
                    <span class="input-group-addon">₡</span>
                    <input type="number" name="numberOf25_{{$index}}" onwheel="return false;" type="number" ng-model="item.coins.numberOf25" autocomplete="off" id="numberOf25_{{$index}}" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" placeholder="Monedas de  {{25 | currency: '₡'}}" required>
                  </div> 
                  <b>Total:</b> {{calculateNumberOfTotal(item.coins.numberOf25, 25) | currency: '₡'}}
                </div>    
                <div ng-messages="form.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Monedas de {{25 | currency: '₡'}} es requerido.</p>
                </div>
              </div>
              <div ng-if="readonly">
                {{item.coins.numberOf25}}
              </div>

              <div class="form-group-sm" show-errors ng-if="!readonly">
                <label class="control-label" ng-if="showLabels" for="numberOf10">Monedas de {{10 | currency: '₡'}}</label>
                <div class="form-inline">
                  <div class="input-group"> 
                    <span class="input-group-addon">₡</span>
                    <input type="number" name="numberOf10_{{$index}}" onwheel="return false;" type="number" ng-model="item.coins.numberOf10" autocomplete="off" id="numberOf10_{{$index}}" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" placeholder="Monedas de  {{10 | currency: '₡'}}" required>
                  </div> 
                  <b>Total:</b> {{calculateNumberOfTotal(item.coins.numberOf10, 10) | currency: '₡'}}
                </div>    
                <div ng-messages="form.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Monedas de {{10 | currency: '₡'}} es requerido.</p>
                </div>
              </div>
              <div ng-if="readonly">
                {{item.coins.numberOf10}}
              </div>

              <div class="form-group-sm" show-errors ng-if="!readonly">
                <label class="control-label" ng-if="showLabels" for="numberOf5">Monedas de {{5 | currency: '₡'}}</label>
                <div class="form-inline">
                  <div class="input-group"> 
                    <span class="input-group-addon">₡</span>
                    <input type="number" name="numberOf5_{{$index}}" onwheel="return false;" type="number" ng-model="item.coins.numberOf5" autocomplete="off" id="numberOf5_{{$index}}" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" placeholder="Monedas de  {{5 | currency: '₡'}}" required>
                  </div> 
                  <b>Total:</b> {{calculateNumberOfTotal(item.coins.numberOf5, 5) | currency: '₡'}}
                </div>    
                <div ng-messages="form.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Monedas de {{5 | currency: '₡'}} es requerido.</p>
                </div>
              </div>
              <div ng-if="readonly">
                {{item.coins.numberOf5}}
              </div>

              <h3>{{getCoinsTotal(item) | currency: '₡'}}</h3>

            </div>

            <div class="col-md-1"></div>

            <div id="flowBills_{{$index}}" class="col-md-5">
              <br />
              <legend ng-if="!report">Billetes</legend> 
              <div class="form-group-sm" show-errors ng-if="!readonly">
                <label class="control-label" ng-if="showLabels" for="numberOf50000">Billetes de {{50000 | currency: '₡'}}</label>
                <div class="form-inline">
                  <div class="input-group"> 
                    <span class="input-group-addon">₡</span>
                    <input type="number" name="numberOf50000_{{$index}}" onwheel="return false;" type="number" ng-model="item.bills.numberOf50000"  autocomplete="off" id="numberOf50000_{{$index}}" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" placeholder="Billetes de  {{50000 | currency: '₡'}}" required>
                  </div> 
                  <b>Total:</b> {{calculateNumberOfTotal(item.bills.numberOf50000, 50000) | currency: '₡'}} 
                </div>    
                <div ng-messages="form.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Billetes de {{50000 | currency: '₡'}} es requerido.</p>
                </div>
              </div>
              <div ng-if="readonly">
                {{item.bills.numberOf50000}}
              </div>

              <div class="form-group-sm" show-errors ng-if="!readonly">
                <label class="control-label" ng-if="showLabels" for="numberOf20000">Billetes de {{20000 | currency: '₡'}}</label>
                <div class="form-inline">
                  <div class="input-group"> 
                    <span class="input-group-addon">₡</span>
                    <input type="number" name="numberOf20000_{{$index}}" onwheel="return false;" type="number" ng-model="item.bills.numberOf20000"  autocomplete="off" id="numberOf20000_{{$index}}" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" placeholder="Billetes de  {{20000 | currency: '₡'}}" required>
                  </div> 
                  <b>Total:</b> {{calculateNumberOfTotal(item.bills.numberOf20000, 20000) | currency: '₡'}} 
                </div>    
                <div ng-messages="form.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Billetes de {{20000 | currency: '₡'}} es requerido.</p>
                </div>
              </div>
              <div ng-if="readonly">
                {{item.bills.numberOf20000}}
              </div>

              <div class="form-group-sm" show-errors ng-if="!readonly">
                <label class="control-label" ng-if="showLabels" for="numberOf10000">Billetes de {{10000 | currency: '₡'}}</label>
                <div class="form-inline">
                  <div class="input-group"> 
                    <span class="input-group-addon">₡</span>
                    <input type="number" name="numberOf10000_{{$index}}" onwheel="return false;" type="number" ng-model="item.bills.numberOf10000"  autocomplete="off" id="numberOf10000_{{$index}}" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" placeholder="Billetes de  {{10000 | currency: '₡'}}" required>
                  </div> 
                  <b>Total:</b> {{calculateNumberOfTotal(item.bills.numberOf10000, 10000) | currency: '₡'}} 
                </div>    
                <div ng-messages="form.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Billetes de {{10000 | currency: '₡'}} es requerido.</p>
                </div>
              </div>
              <div ng-if="readonly">
                {{item.bills.numberOf10000}}
              </div>

              <div class="form-group-sm" show-errors ng-if="!readonly">
                <label class="control-label" ng-if="showLabels" for="numberOf5000">Billetes de {{5000 | currency: '₡'}}</label>
                <div class="form-inline">
                  <div class="input-group"> 
                    <span class="input-group-addon">₡</span>
                    <input type="number" name="numberOf5000_{{$index}}" onwheel="return false;" type="number" ng-model="item.bills.numberOf5000"  autocomplete="off" id="numberOf5000_{{$index}}" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" placeholder="Billetes de  {{5000 | currency: '₡'}}" required>
                  </div> 
                  <b>Total:</b> {{calculateNumberOfTotal(item.bills.numberOf5000, 5000) | currency: '₡'}} 
                </div>    
                <div ng-messages="form.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Billetes de {{5000 | currency: '₡'}} es requerido.</p>
                </div>
              </div>
              <div ng-if="readonly">
                {{item.bills.numberOf5000}}
              </div>

              <div class="form-group-sm" show-errors ng-if="!readonly">
                <label class="control-label" ng-if="showLabels" for="numberOf2000">Billetes de {{2000 | currency: '₡'}}</label>
                <div class="form-inline">
                  <div class="input-group"> 
                    <span class="input-group-addon">₡</span>
                    <input type="number" name="numberOf2000_{{$index}}" onwheel="return false;" type="number" ng-model="item.bills.numberOf2000"  autocomplete="off" id="numberOf2000_{{$index}}" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" placeholder="Billetes de  {{2000 | currency: '₡'}}" required>
                  </div> 
                  <b>Total:</b> {{calculateNumberOfTotal(item.bills.numberOf2000, 2000) | currency: '₡'}} 
                </div>    
                <div ng-messages="form.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Billetes de {{2000 | currency: '₡'}} es requerido.</p>
                </div>
              </div>
              <div ng-if="readonly">
                {{item.bills.numberOf2000}}
              </div>

              <div class="form-group-sm" show-errors ng-if="!readonly">
                <label class="control-label" ng-if="showLabels" for="numberOf1000">Billetes de {{1000 | currency: '₡'}}</label>
                <div class="form-inline">
                  <div class="input-group"> 
                    <span class="input-group-addon">₡</span>
                    <input type="number" name="numberOf1000_{{$index}}" onwheel="return false;" type="number" ng-model="item.bills.numberOf1000"  autocomplete="off" id="numberOf1000_{{$index}}" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" placeholder="Billetes de  {{1000 | currency: '₡'}}" required>
                  </div> 
                  <b>Total:</b> {{calculateNumberOfTotal(item.bills.numberOf1000, 1000) | currency: '₡'}} 
                </div>    
                <div ng-messages="form.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Billetes de {{1000 | currency: '₡'}} es requerido.</p>
                </div>
              </div>
              <div ng-if="readonly">
                {{item.bills.numberOf1000}}
              </div>
              
              <h3>{{getBillsTotal(item) | currency: '₡'}}</h3>
            </div>

            <div class="form-group-sm col-md-12" show-errors ng-if="!readonly">
                <label class="control-label" ng-if="showLabels" for="numberOfDollars">Total de dolares $:</label>
                <div class="form-inline">
                  <div class="input-group"> 
                    <span class="input-group-addon">$</span>
                    <input type="number" name="numberOfDollars_{{$index}}" onwheel="return false;" type="number" ng-model="item.numberOfDollars"  autocomplete="off" id="numberOfDollars_{{$index}}" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" placeholder="Total de dolares $" required>
                  </div> 
                  <b>Total:</b> {{calculateNumberOfTotal(item.numberOfDollars, exchangeRate) | currency: '$'}} 
                </div>    
                <div ng-messages="form.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Total de dolares $ es requerido.</p>
                </div>
              </div>
              <div ng-if="readonly">
                {{item.numberOfDollars}}
              </div>
            
            <div class="row col-md-12 ">
              <h3>Total de #{{$index+1}} {{item.type}} {{item.description}}: {{calculateCoinsAndBillsTotal(item) | currency: '₡'}}</h3>
            </div>
          </div> 

          <div ng-if="!item.isDetailed" >
            <div ng-if="!item.isExpense">          
              <div class="form-group-sm" show-errors>
                <label class="control-label" for="name">Total reportado *</label>
                <div class="form-inline">
                  <div class="input-group"> 
                    <span class="input-group-addon">₡</span>
                    <input type="number" name="moneyFlowReportedTotal_{{$index}}" onwheel="return false;" type="number" ng-model="item.reportedTotal" class="form-control" autocomplete="off" id="moneyFlowReportedTotal_{{$index}}" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" placeholder="Total reportado" required>  
                  </div>   
                </div>          
                <div ng-messages="form.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Total reportado es requerido.</p>
                </div>
              </div>
              <div ng-if="readonly">
                {{item.reportedTotal}}
              </div>
            </div>

            <div class="form-group-sm" show-errors>
              <label class="control-label" for="name">Total real *</label>
              <div class="form-inline">
                <div class="input-group"> 
                  <span class="input-group-addon">₡</span>
                  <input type="number" name="moneyFlowtotal_{{$index}}" onwheel="return false;" type="number" ng-model="item.total" class="form-control" autocomplete="off" id="moneyFlowtotal_{{$index}}" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" placeholder="Total real" required>  
                </div> 
              </div>
              <div ng-messages="form.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Total real es requerido.</p>
              </div>
            </div>
            <div ng-if="readonly">
              {{item.total}}
            </div>
          </div>  
          <div class="row col-md-12 " data-ng-show="!moneyCollectionId || item.isNewFlow || (authentication.isUserAdmin() && authentication.isBoardDirectorUser())">
            <div class="pull-right">
              <a class="form-group-sm btn btn-xs btn-danger" ng-click="removeFlow($index)" ng-if="!readonly">
                <i class="glyphicon glyphicon-trash"></i> 
                Eliminar           
              </a>  
            </div>
          </div>        
          <div class="row col-md-12 ">
            <hr />
          </div>
        </fieldset> 
        <a class="form-group-sm btn btn-secondary" ng-click="addFlow()" ng-if="!readonly">
          <i class="glyphicon glyphicon-plus"></i>
          Agregar flujo de Dinero
        </a>
      </div>   
    </div>
  </uib-accordion>  
</div>