<section class="container">
  <div class="page-header">
    <h1 data-ng-bind="vm.moneycollection.name"></h1>
  </div>
  <div class="pull-right"
       data-ng-show="vm.moneycollection.isCurrentUserOwner">
    <a class="btn btn-primary" data-ui-sref="moneycollections.edit({ moneycollectionId: vm.moneycollection._id })">
      <i class="glyphicon glyphicon-edit"></i> Editar
    </a>
    <a class="btn btn-danger" data-ng-show="vm.authentication.isUserAdmin() && vm.authentication.isBoardDirectorUser()" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i> Eliminar
    </a>
  </div>  
  <div class="pull-left">
    <a class="btn btn-secondary"
      data-ui-sref="moneycollections.list()">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Regresar
    </a>
  </div>
  <br /><br /><br />
  
  <div class="row">
      <h1 class="row text-center">Informe General</h1>
      <div ng-repeat="accountingType in ['Ingresos', 'Egresos']">
        <div class="col-md-6">      
          <div class="text-center">
              <h3>{{accountingType}}</h3>
          </div>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th></th>
                <th>Total de {{accountingType}}</th>
                <th>Descripciones</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="flowType in vm.flowTypes" >
                <th>  
                    {{flowType}}
                </th>
                <td>  
                    {{vm.getFlowTypeTotal(flowType, accountingType) | currency: '₡'}}
                </td>
                <td>  
                    {{vm.getFlowTypeDescription(flowType, accountingType)}}
                </td>
              </tr>   
            </tbody> 
            <tfoot>
              <tr>  
                <th><span class="pull-right">Total {{accountingType}}:</span></th>    
                <td  colspan="2">
                    {{accountingType === 'Ingresos' ? (vm.moneycollection.total + vm.moneycollection.summary.totalEgresos): vm.moneycollection.summary.totalEgresos  | currency: '₡'}}  
                </td>        
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  
  <div class="row text-center">
    <h2>TOTAL:  {{vm.moneycollection.total | currency: '₡'}}</h2>
  </div>
  <hr />
  <div class="row">
    <h1 class="row text-center">Informe Detallado</h1>
    <div ng-repeat="accountingType in ['Ingresos', 'Egresos']">
      <div class="col-md-6">      
        <div class="text-center">
            <h3>{{accountingType}}</h3>
        </div>
        <table class="table table-condensed" ng-repeat="flowType in vm.flowTypes"  ng-if="vm.getFlowTypeTotal(flowType, accountingType) > 0">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Descipcion</th>
              <th>Ingresos</th>
            </tr>
          </thead>
          <tbody>
          <tr ng-repeat="flows in vm.moneycollection.moneyFlows | filter: {'type': flowType, 'isExpense': (accountingType === 'Ingresos' ? false: true)}" ng-if="flows.total > 0">
            <td>  
                {{flows.type}}
            </td>
            <td>  
                {{flows.description}}
            </td>
            <td>  
                {{flows.total | currency: '₡'}}
            </td>
          </tr>         
          </tbody>
          <tfoot>
            <tr>  
              <th colspan="2"><span class="pull-right">Total {{flowType}}:</span></th>    
              <td>
                  {{vm.getFlowTypeTotal(flowType, accountingType) | currency: '₡'}}
              </td>        
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <h2>TOTAL:  {{vm.moneycollection.total | currency: '₡'}}</h2>
  </div>    
  <hr />
</section>
