<section>
  <div class="page-header">
    <h1>Academias</h1>
  </div>
  <a class="btn btn-primary" data-ui-sref="serviceacademyclasses.create">Nueva Academia</a>
  <br/><br/>
  <div id="content" data-ng-if="vm.serviceacademyclasses.length">
    <div class="form-group">
      <div class="dropdown" id="organizationDropdown" uib-dropdown>
        <label class="control-label" for="organization">Organización: </label>
        <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle role="button">
          <span ng-if="!vm.organization">-- Todos --</span>
          {{vm.organization.name}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" ng-if="vm.organizations">
          <li>
            <a ng-click="vm.setOrganization()">-- Todos --</a>
          </li>
          <li data-ng-repeat="organization in vm.organizations | orderBy:'name'">
            <a ng-click="vm.setOrganization(organization)">{{organization.name}}</a>
          </li>
        </ul>
      </div> 
    </div>
    <input class="form-control" ng-model="vm.searchFilter" placeholder="Buscar..." type="text"/>
    <br />
    <div id="exportable">
      <table class="table table-condensed">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Nivel</th>
          <th>Fecha Inicio</th>
          <th>Fecha Final</th>
          <th>Horario</th>
          <th>Organización</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="serviceacademyclass in vm.serviceacademyclasses | orderBy:['startDate', 'level', 'name'] | filter: vm.searchFilter | filter: vm.organization.name" class="active">
          <td>{{serviceacademyclass.name}}</td>
          <td>{{serviceacademyclass.level}}</td>
          <td>{{serviceacademyclass.startDate | date:'mediumDate'}}</td>
          <td>{{serviceacademyclass.endDate | date:'mediumDate'}}</td>
          <td>{{vm.parseSchedule(serviceacademyclass.schedule)}}</td>
          <td>{{serviceacademyclass.organization.name}}</td>
          <td>    
            <a data-ui-sref="serviceacademyclasses.view({ serviceacademyclassId: serviceacademyclass._id})">Detalles</a>    
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div> 
  <div class="alert alert-warning text-center" data-ng-if="vm.serviceacademyclasses.$resolved && !vm.serviceacademyclasses.length">
    No hay academias creadas. <a data-ui-sref="serviceacademyclasses.create">Crear</a>?
  </div>
</section>
