<section>
  <div class="page-header">
    <h1>Academias</h1>
  </div>
  <a class="btn btn-primary" data-ui-sref="serviceacademyclasses.create">Nueva Academia</a>
  <br/><br/>
  <div id="content" data-ng-if="vm.serviceacademyclasses.length">
    <div class="form-group">        
      <label class="control-label" for="organization">Organización *</label>  
      <input name="organization" type="hidden" ng-model="vm.organization" id="organization" class="form-control">
      <div class="input-group">
        <ui-select ng-model="vm.organization">
          <ui-select-match  placeholder="Seleccione la organización...">
                <span>{{$select.selected.name}}</span>
            </ui-select-match>
            <ui-select-choices repeat="item in (vm.organizations | filter: $select.search) track by item._id">
                <div ng-bind-html="item.name | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select> 
        <span class="input-group-btn">
          <button type="button" ng-click="vm.organization = undefined" class="btn btn-default">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </span>  
      </div> 
    </div>
    <input class="form-control" ng-model="vm.searchFilter" placeholder="Buscar..." type="text"/>
    <br />
    <div id="exportable">
      <table class="table table-condensed">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Nivel</th>
          <th>Inicio - Final</th>
          <th>Horario</th>
          <th>Organización</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="serviceacademyclass in vm.serviceacademyclasses | orderBy:['startDate','endDate', 'level', 'name']:true | filter: vm.searchFilter | filter: vm.organization.name" ng-class="vm.getStatusClass(serviceacademyclass)">
          <td>{{serviceacademyclass.name}}</td>
          <td>{{serviceacademyclass.level}}</td>
          <td>{{serviceacademyclass.startDate | date:'LLLL'}} - {{serviceacademyclass.endDate | date:'LLLL'}}</td>
          <td>{{vm.parseSchedule(serviceacademyclass.schedule)}}</td>
          <td>{{serviceacademyclass.organization.name}}</td>
          <td>    
            <a data-ui-sref="serviceacademyclasses.view({ serviceacademyclassId: serviceacademyclass._id})">Detalles</a>    
          </td>
          <td>    
            <a data-ui-sref="students.listAcademyStudents({ serviceacademyclassId: serviceacademyclass._id})">Estudiantes</a>    
          </td>          
          <td>    
            <a data-ui-sref="assistances.listServiceAcademyClassAssistance({ serviceacademyclassId: serviceacademyclass._id})">Asistencias</a>    
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div> 
  <div class="alert alert-warning text-center" data-ng-if="vm.serviceacademyclasses.$resolved && !vm.serviceacademyclasses.length">
    No hay academias creadas. <a data-ui-sref="serviceacademyclasses.create">Crear</a>?
  </div>
</section>
