<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.serviceacademyclass.name"></h1>
  </div>
  <div class="row">
     <small>
      <em class="text-muted">
        Creato en
        <span data-ng-bind="vm.serviceacademyclass.created | date:'mediumDate'"></span>
        por
        <span data-ng-if="vm.serviceacademyclass.user"
              data-ng-bind="vm.serviceacademyclass.user.displayName"></span>
        <span data-ng-if="!vm.serviceacademyclass.user">Deleted User</span>
      </em>
    </small>  
  </div>
  <div class="row">
    <div class="pull-left">
       <a class="btn btn-secondary" data-ui-sref="serviceacademyclasses.list()">
        <i class="glyphicon glyphicon-arrow-left"></i>
        Regresar
      </a>
    </div>
    <div class="pull-right">
      <a class="btn btn-primary" data-ui-sref="serviceacademyclasses.edit({ serviceacademyclassId: vm.serviceacademyclass._id })">
        <i class="glyphicon glyphicon-edit"> Editar</i>
      </a>
      <a class="btn btn-primary" data-ng-show="vm.authentication.isUserAdmin()" data-ng-click="vm.remove()">
        <i class="glyphicon glyphicon-trash"> Eliminar</i>
      </a>
    </div> 
  </div>
  <br/>
  <b>Descripción:</b> <p class="lead" data-ng-bind="vm.serviceacademyclass.description"></p>
  <b>Organización:</b> <p class="lead" data-ng-bind="vm.serviceacademyclass.organization.name"></p>
  <b>Nivel:</b> <p class="lead" data-ng-bind="vm.serviceacademyclass.level"></p>
  <b>Fecha de inicio:</b> <p class="lead" data-ng-bind="vm.serviceacademyclass.startDate | date:'longDate'"></p>
  <b>Fecha final:</b> <p class="lead" data-ng-bind="vm.serviceacademyclass.endDate | date:'longDate'"></p>  
  <b>Horario:</b> <p class="lead">{{vm.parseSchedule(vm.serviceacademyclass.schedule)}}</p>  
  <b>Profesor:</b> <p ng-show="vm.serviceacademyclass.teacher" class="lead">
    {{vm.serviceacademyclass.teacher.firstName}} {{vm.serviceacademyclass.teacher.lastName}}
    {{vm.serviceacademyclass.teacher.secondLastName}}</p>
    <p ng-show="!vm.serviceacademyclass.teacher" class="lead">--No asignado--</p>
</section>
