<section>
  <div class="page-header">
    <h1>Listas de Asistencia</h1>
  </div>
  <a class="btn btn-primary" data-ui-sref="assistances.create">Nueva Lista de Asistencia</a>
  <br/><br/>
  <div id="content" data-ng-if="vm.assistances.length">
    <br />
    <div class="form-group">        
      <label class="control-label" for="serviceAcademyClass">Academia: </label>  
        <a class="btn btn-secondary" data-ui-sref="serviceacademyclasses.list()">
          <i class="glyphicon glyphicon-th-list"></i>
          Lista de Academias
        </a>    
      <input name="serviceAcademyClass" type="hidden" ng-model="vm.serviceAcademyClass" id="serviceAcademyClass" class="form-control">
      <div class="input-group select2-bootstrap-append">
        <ui-select ng-model="vm.serviceAcademyClass">
          <ui-select-match  placeholder="Seleccione la Academia...">
                <span>{{$select.selected.name}}</span>
            </ui-select-match>
            <ui-select-choices repeat="item in (vm.serviceAcademyClasses | filter: $select.search) track by item._id">
                <div ng-bind-html="item.name | highlight: $select.search"></div>
                <small ng-bind-html="['Nivel: '+ item.level] | highlight: $select.search"></small>
            </ui-select-choices>
        </ui-select> 
        <span class="input-group-btn">
          <button type="button" ng-click="vm.serviceAcademyClass = undefined" class="btn btn-default">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </span> 
      </div>  
    </div>  
    <br />
    <input class="form-control" ng-model="vm.searchFilter" placeholder="Buscar..." type="text"/>
    <br />
    <div id="exportable">
      <table class="table table-condensed">
        <thead>
        <tr>
          <th>Academia</th>
          <!-- <th>Evento</th> -->
          <th>Fecha de asistencia</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="assistance in vm.assistances | orderBy:['serviceAcademyClass.name', 'event.name'] | filter: vm.searchFilter | filter: vm.serviceAcademyClass.name" ng-class="vm.getStatusClass(assistance)">
          <td>{{assistance.serviceAcademyClass.name}}</td>
          <!-- <td>{{assistance.event.name}}</td> -->
          <td>{{assistance.assistanceDate | date:'mediumDate'}}</td>
          <td>
            <a data-ui-sref="assistances.view({ assistanceId: assistance._id})">Asistentes</a>    
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.assistances.$resolved && !vm.assistances.length">
    No hay listas de asistencia <a data-ui-sref="assistances.create">Crear</a>?
  </div>
</section>
