<section class="row">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
    <form name="vm.userForm" ng-submit="vm.updateUserProfile(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">Nombre</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.user.firstName" placeholder="Nombre" required>
          <div ng-messages="vm.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Nombre es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">Apellidos</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.user.lastName" placeholder="Apellidos" required>
          <div ng-messages="vm.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Apellidos es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="vm.user.email" placeholder="Email" lowercase required>
          <div ng-messages="vm.userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email es requerido.</p>
            <p class="help-block error-text" ng-message="email">Email es invalido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="username">Usuario</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="vm.user.username" placeholder="Usuario" lowercase required>
          <div ng-messages="vm.userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Usuario es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="event">Roles</label>
          <input name="roles" type="hidden" ng-model="vm.user.roles" id="roles" class="form-control" placeholder="Grupo de Persona" required>
          <div class="dropdown" id="rolesDropdown" uib-dropdown>
            <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle role="button">
              <span ng-if="!vm.user.roles">-- Seleccione uno --</span>
              {{vm.getUserRoleName(vm.user.roles[0])}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a ng-click="vm.setUserRole('admin')">Administrator</a>
              </li>
              <li>
                <a ng-click="vm.setUserRole('user')">Usuario</a>
              </li>
            </ul>
          </div> 
            <div ng-messages="vm.userForm.roles.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Roles es requerido.</p>
            </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
        <div ng-show="vm.success" class="text-center text-success">
          <strong>Perfil guardado exitosamente</strong>
        </div>
        <div ng-show="vm.error" class="text-center text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
